//	網頁設計變數
$BsGame_淡藍:#b8c9d9;
$BsGame_border藍:#3a5977;
$BsGame_圓角大:10px;
$BsGame_圓角中:8px;
$BsGame_圓角小:6px;
$BsGameWrap_最大寬度設定:768px;	
.BsGame{height:100%;}
.BsGame{
	>h1{
		position:absolute;
		top:0;
		left:-200%;
	}
}
.BsGame, #wrap{min-width:480px;}

#BsGameWrap{
	@include 最大寬度設定($BsGameWrap_最大寬度設定);
	height:100%;
	overflow:hidden;
	position:relative;
	>input{
		@extend %控制用的input推出畫面;
	}
}
#gameNav{
	font-size:0;
	letter-spacing:-0.25em;
	word-spacing:-0.25em;
	@include background-image(linear-gradient(180deg, #1f2739 0%, #070e1d 100%));
	border-bottom:3px solid #263C72;
	padding:7px .5% 0;
	>h3{
		color:#aaa;
		font-size:17px;
		letter-spacing:1px; 
		word-spacing:0;
		line-height:40px;
		text-align:center;
		display:inline-block;
		width:24%;
		height:40px;
		vertical-align:top;
		margin:0 .5%;
	}
	label{
		font-weight:normal;
		text-shadow:0 1px 0 #0d1626, 
					1px 0 0 #0d1626, 
					0 -1px 0 #0d1626, 
					-1px 0 0 #0d1626, 
					1px 1px 0 #0d1626, 
					-1px 1px 0 #0d1626, 
					1px -1px 0 #0d1626, 
					-1px -1px 0 #0d1626, 
					0 2px 0 #0d1626, 
					2px 0 0 #0d1626, 
					0 -2px 0 #0d1626, 
					-2px 0 0 #0d1626, 
					2px 2px 0 #0d1626, 
					-2px 2px 0 #0d1626, 
					2px -2px 0 #0d1626, 
					-2px -2px 0 #0d1626, 
					1px 2px 0 #0d1626, 
					-1px 2px 0 #0d1626, 
					1px -2px 0 #0d1626, 
					-1px -2px 0 #0d1626, 
					2px 1px 0 #0d1626, 
					-2px 1px 0 #0d1626, 
					2px -1px 0 #0d1626, 
					-2px -1px 0 #0d1626, 
					2px 2px 6px rgba(0,0,0,.4), 
					-2px 2px 6px rgba(0,0,0,.4);
		display: block;
		@include background-image(linear-gradient(180deg, #23395c 0%, #1b2a50 100%));
		border-radius:$BsGame_圓角小 $BsGame_圓角小 0 0;
		box-shadow:0 1px 2px #2b476e inset, 0 2px 0 #5d7ca2 inset;
	}
}
#gameNavContent{
	width:400%;
	height:100%;
	padding-bottom:50px;
	@include transition(transform  .5s);
	>article{
		width:25%;
		height:100%;
		background:url(../images/darkBlue_bg.jpg) no-repeat center top;
		background-size:cover;
		overflow:auto;
		float:left;
		position:relative;
		>input{
			@extend %控制用的input推出畫面;
		}
	}
}
@for $i from 0 through 3{
	#gameNavCtrl#{$i}:checked ~ #gameNav .gameNavCtrl#{$i}{
		color:#fff;
		text-shadow:0 1px 0 #22304d, 
					1px 0 0 #22304d, 
					0 -1px 0 #22304d, 
					-1px 0 0 #22304d, 
					1px 1px 0 #22304d, 
					-1px 1px 0 #22304d, 
					1px -1px 0 #22304d, 
					-1px -1px 0 #22304d, 
					0 2px 0 #22304d, 
					2px 0 0 #22304d, 
					0 -2px 0 #22304d, 
					-2px 0 0 #22304d, 
					2px 2px 0 #22304d, 
					-2px 2px 0 #22304d, 
					2px -2px 0 #22304d, 
					-2px -2px 0 #22304d, 
					1px 2px 0 #22304d, 
					-1px 2px 0 #22304d, 
					1px -2px 0 #22304d, 
					-1px -2px 0 #22304d, 
					2px 1px 0 #22304d, 
					-2px 1px 0 #22304d, 
					2px -1px 0 #22304d, 
					-2px -1px 0 #22304d, 
					2px 2px 4px rgba(0,0,0,.4), 
					-2px 2px 4px rgba(0,0,0,.4);
		background:linear-gradient(180deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		box-shadow:0 2px 0 #85b2e8 inset, 0 2px 1px #40689f inset;
	}
	#gameNavCtrl#{$i}:checked ~ #gameNavContent{
		@include transform(translateX(-25% * $i));
	}
}
//	活動BANNER
	#gameList0Content0{
		label{
			width:92%;
			background-color:$BsGame_淡藍;
			display:block;
			border:3px solid $BsGame_border藍;
			border-radius:$BsGame_圓角大;
			box-shadow:0 0 9px 3px #e1e7eb inset,
						0 0 10px rgba(0,0,0,0.5);
			margin:22px auto;
			position:relative;
			&:before, &:after{
				content:"";
				display:block;
				position:absolute;
			}
			&:before{
				width:420px;
				height:60px;
				background:url(../images/signup_light.png);
				pointer-events:none;
				margin-left:-210px;
				top:-32px;
				left:50%;
			}
			&:after{
				width:0;
				height:0;
				border-radius:$BsGame_圓角大 0 0 0;
				border-width:55px 180px 55px 180px;
				border-style:solid;
				border-color:rgba(255,255,255,0.25) transparent transparent rgba(255,255,255,0.25);				
				top:0;
				left:0;
			}
		}
		img{
			display:block;
			width:88%;
			height:auto;
			margin:10px auto 5px;
		}
		span{
			color:#454545;
			font-size:14px;
			text-align:center;
			display:block;
			padding-bottom:5px;
			margin:0;
		}
	}
	#gameList0Content0, #gameList0Content1, #gameList0Content2{
		height: 0;
		visibility:hidden;
		overflow: hidden;
		@include transition(height .4s,visibility .4s);
	}
	#gameList0Ctrl0:checked ~ #gameList0Content0, #gameList0Ctrl1:checked ~ #gameList0Content1, #gameList0Ctrl2:checked ~ #gameList0Content2{
		height:100%;
		visibility:visible;
		overflow:auto;
	}
//	序號兌換專區
	.exchangeBox{
		width: 450px;
		height: 260px;
		background-color: rgba(0,20,50,0.8);
		border: 2px solid #00377d;
		border-radius:$BsGame_圓角大;
		padding: 15px 0;
		margin: 0 auto 10px;
		position: relative;

		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		>p{
			color: #ffdf01;
			font-size: 16px;
			letter-spacing: 1px;
			margin: 15px 0 8px 10%;
			text-shadow: 0 0 8px #000;
		}
	}
	.exchangeTitle{
		color:#fff;
		font-size:28px;
		font-weight:normal;
		text-align:center;
		text-shadow:0 0 1px #fff;
		margin:0;
		&:after{
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			margin: 15px 0;
			@include background-image(linear-gradient(90deg, rgba(52,103,166,0) 10%, rgba(52,103,166,1) 50%, rgba(52,103,166,0) 90%));
		}
	}
	.exchangeLabel{
		color: #cdd9e1;
		font-size: 18px;
		display: block;
		border-left: 3px solid #cdd9e1;
		padding: 6px 0 6px 8px;
		margin: 0 0 15px 10%;
	}
	.exchangeInput{
		color: #333;
		font-size: 16px;
		letter-spacing: 1px;
		width: 80%;
		height: 38px;
		background-color: #e5e5e5;
		border: 1px solid #142137;
		border-radius:5px;
		box-shadow: 0 0 10px #142137, 0 0 2px #444 inset, 0 0 4px #777 inset, 0 0 6px #aaa inset, 0 0 8px #ddd inset;
		margin: 0 0 0 10%;
		padding: 11px 10px;
		&:focus{
			background: #fff;
			box-shadow: 0 0 10px #142137, 0 0 3px #666 inset, 0 0 6px #999 inset, 0 0 9px #ccc inset;
		}
	}
	.exchangeBtnBg{
		width: 420px;
		height: 79px;
		background: url(../images/Btn_bg.png);
		background-size: 420px 90px;
		padding-top: 11px;
		margin: 0 auto;
	}
	.btnColor {
		display: block;
		color: #fff;
		border-radius:$BsGame_圓角小;
		border: none;
		cursor: pointer;
		position: relative;
		transition:all 0.6s ease-out;
		background: -webkit-linear-gradient(270deg, #335384 0%,#263c72 100%);
		background: -moz-linear-gradient(270deg, #335384 0%, #263c72 100%);
		background: -ms-linear-gradient(270deg, #335384 0%,#263c72 100%);
		background: -o-linear-gradient(270deg, #335384 0%,#263c72 100%);
		background: linear-gradient(180deg, #335384 0%,#263c72 100%);
		box-shadow: 0 2px 0 #81abe0 inset, 0 0 1px 1px #426ca2 inset, 0 4px rgba(0,0,0,0.8);
		text-shadow: 0 0 1px #aaa,
			    	 0px 2px 1px rgba(0,0,0,0.35),
				     -2px 2px 1px rgba(0,0,0,0.35),
			    	 2px 2px 1px rgba(0,0,0,0.35),
				     0px -2px 1px rgba(0,0,0,0.35),
				     -2px -2px 1px rgba(0,0,0,0.35),
				     2px -2px 1px rgba(0,0,0,0.35),
			    	 2px 0px 1px rgba(0,0,0,0.35),
				     -2px 0px 1px rgba(0,0,0,0.35),
			    	 0px 0px 6px rgba(0,0,0,0.35);
	}
	.sendBtnSize{
		width: 100px;
		height: 44px;
		font: 20px/44px "微軟正黑體", sans-serif;
		letter-spacing: 2px;
		margin: 12px auto;
	}
	#QuScorePopup, #askPopup, #activeSuccessPopup, #activeErrorPopup{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		background: rgba(0,0,0,0.8);
		z-index: 10;
		text-align: center;
		display: none;
	}
	#popup-box{
		width:350px;
		height:216px;
		position:absolute;
		top:50%;
		left:50%;
		background-color: rgba(0,22,49,0.75);
		border: 2px solid #00387d;
		border-radius:$BsGame_圓角大;
		margin: -108px 0 0 -175px;
		z-index: 15;
	}
//	BSvip
	#BSvipHead{
		position:relative;
		>h1{margin:0;}
	}
	.levelUp{
		width:45px;
    	height:45px;
    	display:block;
    	border:2px solid #fff;
    	border-radius:$BsGame_圓角中;   
    	position:absolute;
    	top:15px;
    	left:15px;
    	>ins{
			display:block;
			position:absolute;
		}
		>ins:nth-of-type(1), >ins:nth-of-type(3){
			width:0;
			height:0;
			border-style:solid;
		}
		>ins:nth-of-type(1){
			border-width:8px 13px 8px 0;
			border-color:transparent #fff transparent transparent;
			top: 7px;
			left: 6px;
		}
		>ins:nth-of-type(2){
			width: 11px;
			height: 6px;
			background: #fff;
			top: 12px;
			left: 19px;
		}
		>ins:nth-of-type(3){
			border-width:5px 5px 0 5px;
			border-color:#fff transparent transparent transparent;
			border-radius: 50%;
			top: 14px;
			left: 26px;
			@include transform(rotate(45deg));
		}
		>ins:nth-of-type(4){
			width: 6px;
			height: 16px;
			background: #fff;
			top: 18px;
			left: 29px;
		}
	}
	#BSvipArticle{
		background:#253f40 url(../images/BSvipArticleBg.jpg) no-repeat center top;   
		background-size:contain;
		>section{
			position:relative;
			text-shadow:1px 1px 0 rgba(0,0,0,0.5);
			>div{
				display:inline-block;
				vertical-align:top;
			}
			>.BSvip_L{width:55%;}
			>.BSvip_R{width:45%;}
		}
		>section:nth-of-type(2){
			>div{width:50%;}
		}
	}
	#BSvipMain{
		color:#fff;
		font-style: italic;
		width:85%;
		background:rgba(0,0,0,0.6) url(../images/money_box.png) no-repeat right bottom;
		background-size:97px 85px;
		border-radius:$BsGame_圓角中;
		box-shadow:0 0 25px rgba(0,0,0,0.5) inset;
		padding:0 10px;
		margin:-100px auto 0 5%;
		overflow:hidden;
		>h2{
			font-size: 16px;
			font-weight: normal;
			margin:15px 0;
		}
		i, small{color:#fff45c;}
		>h3{
			color:#00a0e2;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			text-align: center;
			line-height: 1.5;
			width:175px;
			border-top:1px solid #fff;
			border-bottom:1px solid #fff;
			background:transparent;
			padding:2px 4px;
			margin-left:5px;
		}
	}
	#BSmember{
		padding-top:15px;
		h3{
			color:#fff;
			font-size:18px;
			font-weight: normal;
			margin-left:6%;
		}
	}
	#BSmemberName{
      color:#00a0e2;
      padding: 0 3px;
		&:after{
			content:"：";
			color:#fff;
		}
    }
	#nowBSvip{font-size: 21px;}
	#nowBSvip, #nextBSvip, .BSvipPrepaid, #BSvipReward, .diamonds, .Bchips{color:#fff45c;}
	#nowBSvip, #nextBSvip{
		margin-left:2px;
		font-weight: bold;
		font-style: italic;
		text-shadow:0 0 3px rgba(0,0,0,0.5),
	          0 1px 0 #8c8c8c,
	          1px 0 0 #8c8c8c,
	          0 -1px 0 #8c8c8c,
	          -1px 0 0 #8c8c8c,
	          1px 1px 0 #8c8c8c,
	          -1px 1px 0 #8c8c8c,
	          1px -1px 0 #8c8c8c,
	          -1px -1px 0 #8c8c8c,
	          0 2px 0 #8c8c8c,
	          2px 0 0 #8c8c8c,
	          0 -2px 0 #8c8c8c,
	          -2px 0 0 #8c8c8c,
	          2px 2px 0 #8c8c8c,
	          -2px 2px 0 #8c8c8c,
	          2px -2px 0 #8c8c8c,
	          -2px -2px 0 #8c8c8c,
	          1px 2px 0 #8c8c8c,
	          -1px 2px 0 #8c8c8c,
	          1px -2px 0 #8c8c8c,
	          -1px -2px 0 #8c8c8c,
	          2px 1px 0 #8c8c8c,
	          -2px 1px 0 #8c8c8c,
	          2px -1px 0 #8c8c8c,
	          -2px -1px 0 #8c8c8c;
		position: relative;
		&:before{
			content:"VIP";
			margin-right:3.5px;
		}
		&:after{
			content:"";
			width: 26px;
			height: 26px;
			display: block;
			background-image:url(../images/vip_light.png);
			background-size:26px 26px;
			position: absolute;
			@include animation(shine 3.5s linear infinite);
		}
	}
	#nextBSvip:after{
		top: -56%;
		right: 0px;
	}
	#nowBSvip:after{
		top: -42%;
		right: 1px;
	}
	@include keyframes(shine) {
		0%{@include transform(rotate(45deg)); opacity:0;}
		14%{@include transform(rotate(90deg)); opacity:1;}
		43%{@include transform(rotate(180deg)); opacity:1;}
		57%{@include transform(rotate(225deg)); opacity:0;}
		100%{@include transform(rotate(45deg)); opacity:0;}
	}
	.BSvipPrepaid, #BSvipReward{padding:0 3px;}
	.BSvipPrepaid, #BSvipReward, .diamonds, .Bchips{
		font-style: italic;
		text-shadow:0 0 3px rgba(0,0,0,0.5),
	          0 1px 0 #8c8c8c,
	          1px 0 0 #8c8c8c,
	          0 -1px 0 #8c8c8c,
	          -1px 0 0 #8c8c8c,
	          1px 1px 0 #8c8c8c,
	          -1px 1px 0 #8c8c8c,
	          1px -1px 0 #8c8c8c,
	          -1px -1px 0 #8c8c8c,
	          0 2px 0 #8c8c8c,
	          2px 0 0 #8c8c8c,
	          0 -2px 0 #8c8c8c,
	          -2px 0 0 #8c8c8c,
	          2px 2px 0 #8c8c8c,
	          -2px 2px 0 #8c8c8c,
	          2px -2px 0 #8c8c8c,
	          -2px -2px 0 #8c8c8c,
	          1px 2px 0 #8c8c8c,
	          -1px 2px 0 #8c8c8c,
	          1px -2px 0 #8c8c8c,
	          -1px -2px 0 #8c8c8c,
	          2px 1px 0 #8c8c8c,
	          -2px 1px 0 #8c8c8c,
	          2px -1px 0 #8c8c8c,
	          -2px -1px 0 #8c8c8c;
	}
	.BSvipBar{
		height: 22px;
		border: 2px solid #8b4716;
		border-radius:3px;
		box-shadow:0 2px 2px rgba(0,0,0,0.35), 0 0 6px rgba(0,0,0,0.35), 0 0 2px rgba(0,0,0,0.35) inset, 0 0 8px rgba(0,0,0,0.35) inset;
		margin:0 3% 0 6%;
		position: relative;
	}
	#BSviploading{
		width: 2%;
		height: 100%;
		border-radius:2px;
		@include background-image(linear-gradient(180deg, #004266 0%, #1593d6 100%));
		box-shadow:0 4px 2px -2px rgba(255,255,255,0.5) inset;
		@include transition(width .6s);
	}
	.BSvipBar .loadingValue{
		text-align: center;
		line-height:22px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.loadingValue{
		color:#fff;
		font-style:italic;
		letter-spacing: 1px;
		text-shadow:0 1px 0 #111,
					1px 0 0 #111,
					0 -1px 0 #111,
					-1px 0 0 #111,
					1px 1px 0 #111,
					-1px 1px 0 #111,
					1px -1px 0 #111,
					-1px -1px 0 #111,
					0 2px 0 #111,
					2px 0 0 #111,
					0 -2px 0 #111,
					-2px 0 0 #111,
					2px 2px 0 #111,
					-2px 2px 0 #111,
					2px -2px 0 #111,
					-2px -2px 0 #111,
					1px 2px 0 #111,
					-1px 2px 0 #111,
					1px -2px 0 #111,
					-1px -2px 0 #111,
					2px 1px 0 #111,
					-2px 1px 0 #111,
					2px -1px 0 #111,
					-2px -1px 0 #111;
		#BSvipPaid, .BSvipPrepaid{
			@extend .loadingValue;
		}
	}
	.MonthlyAward{
		text-align: center;
		width:86%;
		background-color:#152b3d;
		border:2px solid #8b4716;
		border-radius:3px;
		box-shadow:0 3px 3px rgba(0,0,0,0.35), 0 0 6px rgba(0,0,0,0.35), 0 0 15px rgba(0,0,0,0.2) inset;
		margin:0 auto;
		position: relative;
		top: -18px;
		h2{
			text-align: center;
			width: 68%;
			height: 34px;
			margin:0;
			position: absolute;
			top: -14px;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
	.MonthlyAward h2:after, .MonthlyAward h2:before, .MonthlyAward strong:after, .MonthlyAward strong:before{
	content:"";
	width: 0;
	height: 0;
	position: absolute;
	}
	.MonthlyAward h2:after, .MonthlyAward h2:before{
	border:17px solid #086a9e;
	top:12px;
	}
	.MonthlyAward h2:before{
	left:-22px;
	border-left-color:transparent;
	}
	.MonthlyAward h2:after{
	right:-22px;
	border-right-color:transparent;
	}
	.MonthlyAward h2 strong{
	color:#fff;
	font-size: 21px;
	line-height: 34px;
	letter-spacing: 1px;
	font-weight:normal;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: block;
	background:#1593d6;
	position: absolute;
	z-index: 5;
	}
	.MonthlyAward strong:after, .MonthlyAward strong:before{
	border:6px solid;
	bottom:-12px;
	}
	.MonthlyAward strong:before{
	left:0;
	border-color:#004266 #004266 transparent transparent;
	}
	.MonthlyAward strong:after{
	right:0;
	border-color:#004266 transparent transparent #004266;
	}
	.MonthlyAward p, .MonthlyAward figure{
	display: inline-block;
	vertical-align:middle;
	margin:50px 5px 16px;
	}
	.MonthlyAward p{
	color:#fff45c;
	font-size: 42px;
	font-weight: bold;
	text-shadow:0 0 2px #000,
	          0 1px 0 #aaa,
	          1px 0 0 #aaa,
	          0 -1px 0 #aaa,
	          -1px 0 0 #aaa,
	          1px 1px 0 #aaa,
	          -1px 1px 0 #aaa,
	          1px -1px 0 #aaa,
	          -1px -1px 0 #aaa,
	          0 2px 0 #aaa,
	          2px 0 0 #aaa,
	          0 -2px 0 #aaa,
	          -2px 0 0 #aaa,
	          2px 2px 0 #aaa,
	          -2px 2px 0 #aaa,
	          2px -2px 0 #aaa,
	          -2px -2px 0 #aaa,
	          1px 2px 0 #aaa,
	          -1px 2px 0 #aaa,
	          1px -2px 0 #aaa,
	          -1px -2px 0 #aaa,
	          2px 1px 0 #aaa,
	          -2px 1px 0 #aaa,
	          2px -1px 0 #aaa,
	          -2px -1px 0 #aaa;
	@include transform(skew(-10deg));
	}
	.MonthlyAward figure{position: relative;}
	figure .vipMoney{
	border-radius:50%;
	box-shadow: 0 2px 6px rgba(0,0,0,0.7);
	overflow: hidden;
	opacity:.9999;
	position: relative;
	}
	.MonthlyAward img{vertical-align:top;}
	figure {
		>figcaption{
			width: 36px;
			height: 36px;
			background-image:url(../images/money_light.png);
			background-size:36px 36px;
			position:absolute;
			top:-8px;
			left:-11px;
			@include transition(all 1s);
			@include transform(rotate(90deg));
			@include animation(star 3s linear infinite);
		}
    }
    @include keyframes(star) {
		0%{@include transform(rotate(45deg)); opacity:0;}
		13%{@include transform(rotate(79deg)); opacity:1;}
		38%{@include transform(rotate(147deg)); opacity:1;}
		50%{@include transform(rotate(180deg)); opacity:0;}
		100%{@include transform(rotate(180deg)); opacity:0;}
    }
	.vipMoney:after{
	content:"";
	width:75%;
	height: 100%;
	@include background-image(linear-gradient(90deg, rgba(255,236,38,0) 0%, rgba(255,236,38,0.5) 30%, rgba(255,236,38,1) 45%, rgba(255,236,38,1) 55%, rgba(255,236,38,0.5) 70%, rgba(255,236,38,0) 100%));
	position:absolute;
	top:0;
	left:-85%;
	@include transform(skew(-40deg));
	@include animation(flash 3s linear infinite);
	}
	@include keyframes(flash) {
		0%{left:-80%;}
		25%{left: 115%;}
		100%{left: 115%;}
	}

	.BSvipBtn,.BSvipBtnReceived{
	color: #fff;
	font-size: 21px;
	line-height: 44px;
	letter-spacing: 1px;
	text-shadow:0px 2px 1px rgba(0,0,0,0.15),
				2px 0px 1px rgba(0,0,0,0.15),
				0px -2px 1px rgba(0,0,0,0.15),
				-2px 0px 1px rgba(0,0,0,0.15),
				2px 2px 1px rgba(0,0,0,0.15),
				-2px 2px 1px rgba(0,0,0,0.15),
				2px -2px 1px rgba(0,0,0,0.15),
				-2px -2px 1px rgba(0,0,0,0.15),
				1px 2px 1px rgba(0,0,0,0.15),
				-1px 2px 1px rgba(0,0,0,0.15),
				1px -2px 1px rgba(0,0,0,0.15),
				-1px -2px 1px rgba(0,0,0,0.15),
				2px 1px 1px rgba(0,0,0,0.15),
				-2px 1px 1px rgba(0,0,0,0.15),
				2px -1px 1px rgba(0,0,0,0.15),
				-2px -1px 1px rgba(0,0,0,0.15),
				0px 0px 6px rgba(0,0,0,0.25);
	width: 135px;
	height: 44px;
	display: block;
	border-radius:$BsGame_圓角小;
	border:none;
	@include background-image(linear-gradient(180deg, #335384 0%, #263c72 100%));
	box-shadow: 0 2px 0 #81abe0 inset, 0 0 1px 1px #426ca2 inset, 0 4px rgba(0,0,0,0.8), 0 0 6px rgba(0,0,0,0.4), 0 0 12px rgba(0,0,0,0.2);
	margin:0 auto 25px;
	position: relative; 
	top:0;
	}
	.BSvipBtnReceived{opacity:0.6;}
	.BSvipBtn:hover, .BSvipBtn:active{
	@include animation(BSvipBtn 1.6s);
	}
	@include keyframes(BSvipBtn) {
		0%{
			text-shadow:0px 2px 1px rgba(0,0,0,0.15),
						2px 0px 1px rgba(0,0,0,0.15),
						0px -2px 1px rgba(0,0,0,0.15),
						-2px 0px 1px rgba(0,0,0,0.15),
						2px 2px 1px rgba(0,0,0,0.15),
						-2px 2px 1px rgba(0,0,0,0.15),
						2px -2px 1px rgba(0,0,0,0.15),
						-2px -2px 1px rgba(0,0,0,0.15),
						1px 2px 1px rgba(0,0,0,0.15),
						-1px 2px 1px rgba(0,0,0,0.15),
						1px -2px 1px rgba(0,0,0,0.15),
						-1px -2px 1px rgba(0,0,0,0.15),
						2px 1px 1px rgba(0,0,0,0.15),
						-2px 1px 1px rgba(0,0,0,0.15),
						2px -1px 1px rgba(0,0,0,0.15),
						-2px -1px 1px rgba(0,0,0,0.15),
						0px 0px 6px rgba(0,0,0,0.25);
			border:none;
			box-shadow: 0 2px 0 #81abe0 inset, 0 0 1px 1px #426ca2 inset, 0 4px rgba(0,0,0,0.8), 0 0 6px rgba(0,0,0,0.4), 0 0 12px rgba(0,0,0,0.2);
			top:0;
		}
		25%{
			text-shadow: 0px 0px 4px #9bc9ff, 0px 0px 8px #9bc9ff;
			border: 1px solid #1f3357;
			box-shadow: 0 0 5px 3px rgba(31,51,87,0.65) inset, 0 0 15px 9px rgba(31,51,87,0.5) inset, 0px 0px 3px 1px rgba(0,0,0,0.5), 0px 0px 10px 5px rgba(0,0,0,0.3);
			top:3px;
		}
		75%{
			text-shadow: 0px 0px 4px #9bc9ff, 0px 0px 8px #9bc9ff;
			border: 1px solid #1f3357;
			box-shadow: 0 0 5px 3px rgba(31,51,87,0.65) inset, 0 0 15px 9px rgba(31,51,87,0.5) inset, 0px 0px 3px 1px rgba(0,0,0,0.5), 0px 0px 10px 5px rgba(0,0,0,0.3);
			top:3px;
		}
		100%{
			text-shadow:0px 2px 1px rgba(0,0,0,0.15),
						2px 0px 1px rgba(0,0,0,0.15),
						0px -2px 1px rgba(0,0,0,0.15),
						-2px 0px 1px rgba(0,0,0,0.15),
						2px 2px 1px rgba(0,0,0,0.15),
						-2px 2px 1px rgba(0,0,0,0.15),
						2px -2px 1px rgba(0,0,0,0.15),
						-2px -2px 1px rgba(0,0,0,0.15),
						1px 2px 1px rgba(0,0,0,0.15),
						-1px 2px 1px rgba(0,0,0,0.15),
						1px -2px 1px rgba(0,0,0,0.15),
						-1px -2px 1px rgba(0,0,0,0.15),
						2px 1px 1px rgba(0,0,0,0.15),
						-2px 1px 1px rgba(0,0,0,0.15),
						2px -1px 1px rgba(0,0,0,0.15),
						-2px -1px 1px rgba(0,0,0,0.15),
						0px 0px 6px rgba(0,0,0,0.25);
			border:none;
			box-shadow: 0 2px 0 #81abe0 inset, 0 0 1px 1px #426ca2 inset, 0 4px rgba(0,0,0,0.8), 0 0 6px rgba(0,0,0,0.4), 0 0 12px rgba(0,0,0,0.2);
			top:0;
		}
	}
	.BSvipBtn_ed{
	text-shadow: 0px 0px 4px #9bc9ff, 0px 0px 8px #9bc9ff;
	border: 1px solid #1f3357;
	box-shadow: 0 0 5px 3px rgba(31,51,87,0.65) inset, 0 0 15px 9px rgba(31,51,87,0.5) inset, 0px 0px 3px 1px rgba(0,0,0,0.5), 0px 0px 10px 5px rgba(0,0,0,0.3);
	top:3px;
	}
	#BSvipArticle section h1{
		text-align: center;
		width: 55%;
		@include background-image(linear-gradient(90deg, #253f40 0%, #326069 15%, #326069 85%, #253f40 100%));
		overflow: hidden;
		margin:1em auto;
		margin:28px auto 8px;
		strong{
			color:#fff;
			font-size: 21px;
			line-height:1.8;
			font-style: italic;
			font-weight:normal;
			text-shadow: 1px 1px 0 #000, 0 0 5px rgba(0,0,0,0.5);
			display: block;
			@include background-image(linear-gradient(90deg, #253f40 0%, #1a3031 15%, #1a3031 85%,#253f40 100%));
			margin:4px 0;
			
		}
	}
	// article section:nth-of-type(2) div{padding:3%;}
	// article section:nth-of-type(2) div:nth-of-type(1){padding-right:1.5%;}
	// article section:nth-of-type(2) div:nth-of-type(2){padding-left:1.5%;}
	.vipTable{
		font-size: 16px;
		line-height:1.8;
		text-align:center;
		width:100%;
		background-color:$BsGame_淡藍;
		table-layout:fixed;
		border-spacing:0;
		border-collapse: separate;
		border:2px solid #326069;
		box-shadow: 0px 0px 12px rgba(0,0,0,0.3), 0 0 10px 5px rgba(0,0,0,0.1) inset;
		border-radius:$BsGame_圓角小;
		overflow: hidden;
		td, th{padding:9px 8px;}
		th{
			color:#fff;
			font-weight:normal;
			border-left: 1px solid #48546d;
			border-right: 1px solid #0c1626;
			@include background-image(linear-gradient(180deg, #1f374d 50%,#152b3d 100%));
			&:first-child{ border-left:none;}
			&:last-child{ border-right:none;}
		}
		>tbody{
			>tr{
				&:nth-child(even){background-color:rgba(255,255,255,0.25);}
				&:first-child>td{border-top: none;}
				&:last-child>td{border-bottom: none;}
			}
		}
		tr{
			>td:nth-of-type(1){
				font-size:21px;
				text-shadow:0 1px 0 #fff,
						1px 0 0 #fff,
						0 -1px 0 #fff,
						-1px 0 0 #fff,
						1px 1px 0 #fff,
						-1px 1px 0 #fff,
						1px -1px 0 #fff,
						-1px -1px 0 #fff,
						0 2px 0 #fff,
						2px 0 0 #fff,
						0 -2px 0 #fff,
						-2px 0 0 #fff,
						2px 2px 0 #fff,
						-2px 2px 0 #fff,
						2px -2px 0 #fff,
						-2px -2px 0 #fff,
						1px 2px 0 #fff,
						-1px 2px 0 #fff,
						1px -2px 0 #fff,
						-1px -2px 0 #fff,
						2px 1px 0 #fff,
						-2px 1px 0 #fff,
						2px -1px 0 #fff,
						-2px -1px 0 #fff,
						2px 2px 5px rgba(0,0,0,0.5),
						-2px 2px 5px rgba(0,0,0,0.5);
			}
			>td:nth-of-type(2){text-indent:-47px;}
		}
		td{
			color: #152b3d;
			font-size: 18px;
			font-weight: bolder;
			text-shadow:0 1px 0 #fff,
						1px 0 0 #fff,
						0 -1px 0 #fff,
						-1px 0 0 #fff,
						1px 1px 0 #fff,
						-1px 1px 0 #fff,
						1px -1px 0 #fff,
						-1px -1px 0 #fff,
						1px 1px 4px rgba(0,0,0,0.5),
						-1px 1px 4px rgba(0,0,0,0.5);
			border-left: 1px solid #d2dee8;
			border-right: 1px solid #9bb6d0;
			border-top: 1px solid #d2dee8;
			border-bottom: 1px solid #9bb6d0;
			position: relative;
			&:first-child{ border-left: none;}
			&:last-child{ border-right: none;}
			>span[id*=L]:after{
				content:"";
				display: inline-block;
				width:45px;
				height:45px;
				background-image:url(../images/BSvipRewardBchips.png);
				background-size:342px 45px;
				position:absolute;
				top:3px;
				right:6px;
			}
		}
	}
	.table-R{width:72%;}
	.table-L{width:28%;}
	#L236:after{background-position: -297px 0;}
    #L237:after{background-position: -297px 0;}
    #L238:after{background-position: -247.5px 0;}
    #L239:after{background-position: -247.5px 0;}
    #L240:after{background-position: -198px 0;}
    #L243:after{background-position: -198px 0;}
    #L244:after{background-position: -148.5px 0;}
    #L245:after{background-position: -148.5px 0;}
    #L246:after{background-position: -99px 0;}
    #L247:after{background-position: -99px 0;}

//	遊戲公告
	#gameNavContent>#gameNavContent2{overflow-y: scroll;}
	#bulletinBox{
		padding:1px 15px;
		>li{
			background-color:$BsGame_淡藍;
			cursor:pointer;
			border:3px solid $BsGame_border藍;
			border-radius:$BsGame_圓角大;
			box-shadow:0 0 9px 3px #e1e7eb inset, 0 0 10px rgba(0,0,0,0.5);
			overflow:hidden;
			margin:20px auto;
		}
		>li:first-child>.courseContent{display:block;}
	}
	.course{
		>h3{
			color:#424751;
			font-size:20px;
			font-weight:normal;
			line-height:30px;
			text-overflow:ellipsis;
			text-shadow:0 0 1px rgba(66,71,81,.25);
			white-space:nowrap;
			width:100%;
			overflow:hidden;
			margin:0;
			padding:10px 36px 10px 140px;
			position:relative;
		}
		.date{
			color:#1d3f61;
			font-weight:bold;
			letter-spacing:0;
			position:absolute;
			top:10px;
			left:10px;
		}
		.more{
			width:30px;
			height:30px;
			display:inline-block;
			position:absolute;
			top:10px;
			right:10px;
			&:before, &:after{
				content:"";
				background-color:#1d3f61;
				width:22px;
				height:4px;
				margin:-2px 0 0 -11px;
				position:absolute;
				top:50%;
				left:50%;
				@include transition(transform .3s);				
			}
			&:after{@include transform(rotate(-90deg));}
		}
		.more.click{
			&:after{@include transform(rotate(0deg));}
		}
	} 
	.courseContent{
		color:#222;
		border-top:3px dashed #314b66;
		padding:0 12px;
		display:none;
		>p, >img{margin:10px 0;}
		>p{line-height:1.8;}
		a{display:inline;}
	}
//	goTop區
	#goTop{
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		width:32px;
		height:26px;
		cursor:pointer;
		display:none;
		border-width:10px 8px 12px 8px;
		border-style:solid;
		border-color:$透明黑;
		border-radius:$BsGame_圓角中;
		box-sizing:content-box;
		position:absolute;
		right:15px;
		bottom:15px;
		z-index:100;
		&:before, &:after{
			@extend %偽元素三角形基本設定;
			border-width:0 16px 13px 16px;
			display:block;
		}
		&:before{
			border-color:transparent $透明黑 transparent $透明黑;
		}
		&:after{
			border-color:transparent  transparent $透明黑 transparent;
		}
	}

//	iPhone4、5 手機版
@include breakpoint(max-width 320px) {

}
//	===== i6以下 =====
@include breakpoint(max-width 666px) {
	#BSvipMain h2{font-size:15px;}
	#nowBSvip{font-size:18px;}
	.BSvipPrepaid, #BSvipReward{padding:0;}
	.BSmember h3{font-size: 16px;}
	.table tbody td:nth-of-type(1){font-size:18px;}
}
//	===== 手機版拿直的時候 ===== 
@include breakpoint((max-width 767px) (orientation portrait)){
	#portrait{
		width:100%;
		height:100%;
		background-color:rgba(#000, .95);
		position:fixed;
		top:0;
		left:0;
	}
}
//	===== 手機版拿橫的時候 ===== 
@include breakpoint((max-width 768px) (orientation landscape)){

}
//	===== 平板「以上」版型區 ===== 
@include breakpoint(768px) {
	html, body{letter-spacing:1px;}
	.EN html, .EN body{letter-spacing:0px;}
	.BsGame{
		background:#000e29 url(../images/gym_bg.jpg) no-repeat center center;
		background-size:cover;
	}
}




