//	extend
//	@extend %絕對定位設定;
%偽元素三角形基本設定{
	content:"";
	width:0;
	height:0;
	display:inline-block;
	border-style:solid;
}
%絕對定位設定{position:absolute;}
%靠左prev設定{left:0;}
%靠右next設定{right:0;}
%絕對定位垂直置中設定{
	@extend %絕對定位設定;
	top:50%;
	@include transform(translateY(-50%));
}
%絕對定位靠左prev垂直置中設定{
	@extend %絕對定位設定;
	@extend %靠左prev設定;
	top:50%;
	@include transform(translateY(-50%));
}
%絕對定位靠右next垂直置中設定{
	@extend %絕對定位設定;
	@extend %靠右next設定;
	top:50%;
	@include transform(translateY(-50%));
}
%絕對定位水平垂直置中設定{
	@extend %絕對定位設定;
	top:50%;
	left:50%;
	@include transform(translate(-50%, -50%));
}
%iconFont基本設定{
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
%icomoonIconFont基本設定{
	speak:none;
	font-family:"icomoon";
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
%標題或超連不能選取反白{
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
%文字推出畫面{
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
}
%文字超過變點點{
	white-space:nowrap;	//文字不進行換行
	text-overflow: ellipsis;
	overflow: hidden;
}
%自動伸縮圖片設定{
	width:100%;
	height:auto;
}
%背景圖置中基本設定{
	background-position:center;
	background-size:cover;
}
%固定全景背景圖預設值{
	background-repeat:no-repeat;
	background-attachment:fixed;
	@extend %背景圖置中基本設定;
}
%背景圖滿版置中基本設定{
	width:100%;
	height:100%;
	@extend %背景圖置中基本設定;
}
%背景圖等比例伸縮滿版基本設定{
	width:100%;
	height:0;
	background-size:cover;
}
%偽元素after_clear_both{
	content:"";
	display:block;
	clear:both;
}
%最大寬度基本設定{margin:0 auto;}
%桌機版最大寬度設定{
	max-width:$桌機版_最大寬度設定;
	margin:0 auto;
}
%控制用的input推出畫面{
	position:absolute;
	top:-20px;
	left:-20px;
}

//	mixin
@mixin 偽元素icomoonIconFont設定($icon){
	@extend %icomoonIconFont基本設定;
	content:$icon;
}
@mixin 偽元素icon-font設定($icon,$fontFamily){
	@extend %iconFont基本設定;
	content:$icon;
	font-family:$fontFamily;
}
//	@include 偽元素icon-font設定("\e90a","icomoon");
@mixin 最大寬度設定($width){
	max-width:$width;
	@extend %最大寬度基本設定;
}
//	@include 最大寬度設定(1200px);
@mixin DOM_sprite_images設定預設值($width,$height,$bgSizeX,$bgSizeY,$img,$bgRepeat:no-repeat){
	width:$width;
	height:$height;
	background-size:$bgSizeX $bgSizeY;
	background-image:image-url($img);
	background-repeat:$bgRepeat;
}
@mixin 標籤內偽元素SVG背景圖設定($width,$height,$img,$content:""){
	@extend %背景圖置中基本設定;
	content:$content;
	width:$width;
	height:$height;
	background-image:image-url($img);
}
@mixin breakpoint標籤內偽元素SVG背景圖設定($width,$height,$img,$content:"",$bgPosition:center,$bgSize:cover){
	content:$content;
	width:$width;
	height:$height;
	background-image:image-url($img);
	background-position:$bgPosition;
	background-size:$bgSize;
}
@mixin 標籤內偽元素背景圖設定($width,$height,$img,$content:""){
	content:$content;
	width:$width;
	height:$height;
	background-image:image-url($img);
}
@mixin 標籤內偽元素背景圖寬高自動設定($width, $height, $path, $content:""){
	content:$content;
	width:image-width($path);
	height:image-height($path);
	background-image:image-url($path);
}
@mixin 標籤文字推出SVG背景圖設定($width,$height,$img){
	@extend %文字推出畫面;
	@extend %背景圖置中基本設定;
	width:$width;
	height:$height;
	background-image:image-url($img);
}
// @include 標籤文字推出SVG背景圖設定(136px,46px,"../images/NC3/nc-logo.svg");
@mixin 標籤文字推出背景圖設定($width, $height, $img){
	@extend %文字推出畫面;
	width:$width;
	height:$height;
	background-image:image-url($img);
}
@mixin 標籤文字推出背景圖寬高自動設定($img){
	@extend %文字推出畫面;
	width:image-width($img);
	height:image-height($img);
	background-image:image-url($img);
}
@mixin 背景圖滿版置中設定($img){
	@extend %背景圖滿版置中基本設定;
	background-image:image-url($img);
}
@mixin 背景圖等比例伸縮滿版設定($width, $height, $img){
	@extend %背景圖等比例伸縮滿版基本設定;
	background-image:image-url($img);
	padding-bottom:($height / $width) * 100%;
}
@mixin 背景圖等比例伸縮變版設定($width, $height, $img){
	background-image:image-url($img);
	padding-bottom:($height / $width) * 100%;
}
@mixin 背景圖水平重複設定($img,$bgPosX,$bgPosY,$bgRepeat:repeat-x){
	background-image:image-url($img);
	background-repeat:$bgRepeat;
	background-position:$bgPosX $bgPosY;
}
@mixin 背景圖重複設定($img,$bgRepeat:repeat,$bgPosX:left,$bgPosY:top){
	background-image:image-url($img);
	background-repeat:$bgRepeat;
	background-position:$bgPosX $bgPosY;
}
@mixin 全背景圖縮寫設定($bgColor,$img,$bgRepeat,$bgPosX,$bgPosY){
	background-color:$bgColor;
	background-image:image-url($img);
	background-repeat:$bgRepeat;
	background-position:$bgPosX $bgPosY;
}
@mixin 背景圖縮寫設定($img,$bgRepeat,$bgPosX,$bgPosY){
	background-image:image-url($img);
	background-repeat:$bgRepeat;
	background-position:$bgPosX $bgPosY;
}
// @include 背景圖等比例伸縮滿版設定(828px,560px,"TITE/titeIndexH.png");
@mixin 按鈕CSS設定預設值($bgColor:hsl(200,50%,50%), $borderRadius:6px, $boxShadow:(0 0 0 1px rgba(0,0,0,.2) inset,0 2px 0 rgba(255,255,255,.05) inset,0 2px 1px hsl(200,27%,72%) inset,0 -4px 0 hsl(200,60%,35%) inset,0 2px 4px 2px rgba(0,0,0,.1)), $padding:0 0 3px 0, $margin:0, $boxSizing:content-box, $transition:(padding-bottom .3s .4s, margin-top .3s .4s, box-shadow .3s .4s)){
	background-color:$bgColor;
	border-radius:$borderRadius;
	box-shadow:$boxShadow;
	padding:$padding;
	margin:$margin;
	box-sizing:$boxSizing;
	@include transition($transition);
}
@mixin 按鈕按下時CSS設定預設值($boxShadow:(0 0 0 1px rgba(0,0,0,.2) inset, 0 2px 0 rgba(255,255,255,.05) inset, 0 2px 1px hsl(200,27%,72%) inset, 0 0 0 hsl(200,60%,35%) inset, 0 2px 4px 2px rgba(0,0,0,.05)), $marginTop:3px, $paddingBottom:0, $transition:(padding-bottom .3s, margin-top .3s, box-shadow .3s)){
	box-shadow:$boxShadow;
	margin-top:$marginTop;
	padding-bottom:$paddingBottom;
	@include transition($transition);
}
@mixin input的placeholder值css設定{
	&:-moz-placeholder{@content;}
	&::-moz-placeholder{@content;}
	&:-ms-input-placeholder{@content;}
	&::-webkit-input-placeholder{@content;}
}
// @include input的placeholder值css設定{
// 	color:$NCA_input灰;
// 	font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
// }
@mixin 偽元素三角形css設定($borderWidth, $borderColor){
	@extend %偽元素三角形基本設定;
	border-width:$borderWidth;
	border-color:$borderColor;
	@content;
}
//	@include 偽元素三角形css設定(8px,transparent transparent $網頁_深藍 $網頁_深藍);
//	@include 偽元素三角形css設定(10px,transparent transparent $NC_藍 transparent){
//		@extend %絕對定位設定;
//	};
//	1.banner上下張箭頭icon內部偽元素摟空設計
@mixin 上下左右摟空箭頭icon外框設定($width, $height, $borderWidth, $borderColor, $borderRadius){
	@extend %絕對定位垂直置中設定;
	width:$width;
	height:$height;
	cursor:pointer;
	border-width:$borderWidth;
	border-style:solid;
	border-color:$borderColor;
	border-radius:$borderRadius;
	box-sizing:content-box;
	@content;
}
//	@mixin 上下左右摟空箭頭icon外框設定(32px, 26px, 10px 8px 12px 8px, $NC_透明黑, 8px){
	// -webkit-tap-highlight-color:rgba(0,0,0,0);
	// display:none;
	// position:fixed;
	// right:15px;
	// bottom:15px;
	// z-index:100;
//	}
@mixin 上下摟空箭頭icon偽元素設定($borderWidth, $borderColor){
	@extend %偽元素三角形基本設定;
	display:block;
	border-width:$borderWidth;
	border-color:$borderColor;
	@content;
}
//	&:before{@mixin 上下摟空箭頭icon偽元素設定(0 16px 13px 16px, transparent $NC_透明黑 transparent $NC_透明黑);}
//	&:after{@mixin 上下摟空箭頭icon偽元素設定(0 16px 13px 16px, transparent  transparent $NC_透明黑 transparent);}
@mixin 左右摟空箭頭icon偽元素設定($borderWidth, $borderColor){
	@extend %偽元素三角形基本設定;
	display:inline-block;
	border-width:$borderWidth;
	border-color:$borderColor;
	@content;
}
//	2.banner上下張箭頭icon內部偽元素水平垂直置中
@mixin owl套件上下張箭頭icon外框設定($width, $height, $backgroundColor){
	@extend %文字推出畫面;
	@extend %絕對定位垂直置中設定;
	width:$width;
	height:$height;
	background-color:$backgroundColor;
	@content;
}
//	@include owl套件上下張箭頭icon外框設定(30px, 40px, $NC_灰){box-shadow:0 0 1px rgba(0,0,0,.3);};
@mixin owl套件上下張箭頭icon偽元素設定($borderWidth, $borderColor){
	@extend %偽元素三角形基本設定;
	@extend %絕對定位水平垂直置中設定;
	border-width:$borderWidth;
	border-color:$borderColor;
	@content;
}//	after是頭(三角形)<<，before是尾(羽)<<
//	細的左右箭頭
	// &:before{
	// 	@include owl套件左右箭頭icon偽元素設定(12px 0 12px 13px, $NC_灰 transparent $NC_灰 #fff){
	// 		margin-left:2px;
	// 	};
	// }
	// &:after{
	// 	@include owl套件左右箭頭icon偽元素設定(12px 0 12px 13px, transparent transparent transparent $NC_灰);
	// }
//	粗的左右箭頭
	// &:before{
	// 	@include owl套件左右箭頭icon偽元素設定(16px 12px 16px 0, $NC_灰 transparent $NC_灰 transparent){
	// 		margin-left:6px;
	// 	};
	// }
	// &:after{
	// 	@include owl套件左右箭頭icon偽元素設定(16px 12px 16px 0, transparent $NC_灰 transparent transparent){
	// 		margin-left:-6px;
	// 	};
	// }
@mixin banner上下張箭頭icon外框設定($width, $height, $backgroundColor){
	@extend %絕對定位垂直置中設定;
	width:$width;
	height:$height;
	cursor:pointer;
	background-color:$backgroundColor;
	@content;
}
@mixin banner上下張箭頭icon偽元素設定($borderWidth, $borderColor){
	@extend %偽元素三角形基本設定;
	@extend %絕對定位水平垂直置中設定;
	border-width:$borderWidth;
	border-color:$borderColor;
	@content;
}


//	function

//	RWD變版breakpoint區

//	iPhone4、5 手機版
// @include breakpoint(max-width 320px) { }

//	iPhone4及舊版手機(320*533)拿橫的時候
// @include breakpoint(481px (max-width 568px) (orientation landscape)){ }

//	iPhone5「以上」手機拿橫的時候
// @include breakpoint(568px (max-width 736px) (orientation landscape)){ }

//	手機版拿直的時候_portrait
// @include breakpoint((max-width 767px) (orientation portrait)) { }

//	手機版拿橫的時候 Landscape
// @include breakpoint((max-width 767px) (orientation landscape)) { }

//	手機版型區
// @include breakpoint(max-width 767px) { }

//	iPhone4以上手機拿橫，包含平板「以上」版型區
// @include breakpoint(480px) { }

//	iPhone5以上手機拿橫，包含平板「以上」版型區
// @include breakpoint(568px) { }

// android手機拿橫(640px)，包含平板「以上」版型區
// @include breakpoint(640px) { }

//	iPhone6以上手機拿橫，包含平板「以上」版型區
// @include breakpoint(667px) { }

//	平板版型區(1024*768舊螢幕時轉桌機)
// @include breakpoint(768px (max-width 1000px)) { }

//	桌機「以上」版型區
// @include breakpoint(1017px) { }

//	桌機1024版型區
// @include breakpoint(1024px) { }

//	桌機1024「以上」版型區
// @include breakpoint(1025px) { }

//	1200px加17px捲軸，寬度版型區
// @include breakpoint(1217px) { }

//	桌機1280版型區
// @include breakpoint(1280px) { }

//	桌機1366版型區
// @include breakpoint(1366px) { }

//	桌機1440版型區
// @include breakpoint(1440px) { }

//	桌機1600版型區
// @include breakpoint(1600px) { }

//	桌機1920版型區
// @include breakpoint(1920px) { }