//extend
%偽元素三角形基本設定{
	content:"";
    width:0;
    height:0;
    display:inline-block;
    border-style:solid;
}
%偽元素三角形絕對定位設定{position: absolute;}
%icon-font基本設定{
	speak:none;
	font-family:"icomoon";
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
%左右箭頭icon基本設定{
	width:26px;
    height:34px;
    border-color:$NC_透明黑;
    border-style:solid;
    border-width:23px 8px;
    cursor:pointer;
    box-sizing:content-box;
    position:absolute;
    top:50%;
    z-index:30;
    @include transform(translateY(-50%));
}
%左右箭頭icon垂直置中設定{
	position:absolute;
	top:50%;
	@include transform(translateY(-50%));
}
%owl套件左箭頭prev設定{left:0;}
%owl套件右箭頭next設定{right:0;}
%owl套件左右箭頭icon偽元素基本設定{
	top:50%;
	left:50%;
	@include transform(translate(-50%, -50%));
}
%標題或超連不能選取反白{
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
%自動伸縮圖片設定{
	width:100%;
	height:auto;
}
%文字推出畫面{
	// display:block;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
}
%文字超過變點點{
	white-space:nowrap;	//文字不進行換行
	text-overflow: ellipsis;
	overflow: hidden;
}
%偽元素after_clear_both{
	content:"";
	display:block;
	clear:both;
}
%桌機版最大寬度設定{
	max-width:$桌機版_最大寬度設定;
	margin:0 auto;
}
%最大寬度設定{margin:0 auto;}
%控制用的input推出畫面{
	position:absolute;
	top:-20px;
	left:-20px;
}
%固定全景背景圖預設值{
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
}
// @extend %偽元素icon-font相對定位基本設定;

//mixin
// @mixin DOM_sprite_images設定預設值($width:28px, $height:24px, $backgroundSize:$NC_sprite_images圖片_兩倍解析度設定, $backgroundImage:url(../images/sprite_images.png), $backgroundRepeat:no-repeat){
// 	width:$width;
// 	height:$height;
// 	background-size:$backgroundSize;
// 	background-image:$backgroundImage;
// 	background-repeat:$backgroundRepeat;
// }
@mixin 偽元素icon-font設定($icon){
	@extend %icon-font基本設定;
	content:$icon;
}
// @include 偽元素icon-font設定("\e90a");
@mixin 最大寬度設定($width){
	max-width:$width;
	@extend %最大寬度設定;
}
@mixin 按鈕CSS設定預設值($background-color:hsl(200,50%,50%), $border-radius:6px, $box-shadow:(0 0 0 1px rgba(0,0,0,.2) inset,0 2px 0 rgba(255,255,255,.05) inset,0 2px 1px hsl(200,27%,72%) inset,0 -4px 0 hsl(200,60%,35%) inset,0 2px 4px 2px rgba(0,0,0,.1)), $padding:0 0 3px 0, $margin:0, $box-sizing:content-box, $transition:(padding-bottom .3s .4s, margin-top .3s .4s, box-shadow .3s .4s)){
	background-color:$background-color;
	border-radius:$border-radius;
	box-shadow:$box-shadow;
	padding:$padding;
	margin:$margin;
	box-sizing:$box-sizing;
	@include transition($transition);
}
@mixin 按鈕按下時CSS設定預設值($box-shadow:(0 0 0 1px rgba(0,0,0,.2) inset, 0 2px 0 rgba(255,255,255,.05) inset, 0 2px 1px hsl(200,27%,72%) inset, 0 0 0 hsl(200,60%,35%) inset, 0 2px 4px 2px rgba(0,0,0,.05)), $margin-top:3px, $padding-bottom:0, $transition:(padding-bottom .3s, margin-top .3s, box-shadow .3s)){
	box-shadow:$box-shadow;
	margin-top:$margin-top;
	padding-bottom:$padding-bottom;
	@include transition($transition);
}
@mixin input的placeholder值css設定{
	&:-moz-placeholder{@content;}
	&::-moz-placeholder{@content;}
	&:-ms-input-placeholder{@content;}
	&::-webkit-input-placeholder{@content;}
}
@mixin 偽元素三角形css設定($borderWidth, $borderColor){
	@extend %偽元素三角形基本設定;
	border-width:$borderWidth;
	border-color:$borderColor;
	@content;
}
// @include 偽元素三角形css設定(8px,transparent transparent $網頁_深藍 $網頁_深藍);
// @include 偽元素三角形css設定(10px,transparent transparent $NC_藍 transparent){
// 	@extend %偽元素三角形絕對定位設定;
// };
@mixin owl套件左右箭頭icon偽元素設定($borderWidth, $borderColor){
	@extend %偽元素三角形基本設定;
	@extend %偽元素三角形絕對定位設定;
	@extend %owl套件左右箭頭icon偽元素基本設定;
	border-width:$borderWidth;
	border-color:$borderColor;
	@content;
}//after是頭(三角形)<<，before是尾(羽)<<
//細的左右箭頭
	// &:before{
	// 	@include owl套件左右箭頭icon偽元素設定(12px 0 12px 13px, $NC_灰 transparent $NC_灰 #fff){
	// 		margin-left:2px;
	// 	};
	// }
	// &:after{
	// 	@include owl套件左右箭頭icon偽元素設定(12px 0 12px 13px, transparent transparent transparent $NC_灰);
	// }
//粗的左右箭頭
	// &:before{
	// 	@include owl套件左右箭頭icon偽元素設定(16px 12px 16px 0, $NC_灰 transparent $NC_灰 transparent){
	// 		margin-left:6px;
	// 	};
	// }
	// &:after{
	// 	@include owl套件左右箭頭icon偽元素設定(16px 12px 16px 0, transparent $NC_灰 transparent transparent){
	// 		margin-left:-6px;
	// 	};
	// }
@mixin owl套件左右箭頭icon外框設定($width, $height, $backgroundColor){
	@extend %文字推出畫面;
	@extend %左右箭頭icon垂直置中設定;
	width:$width;
	height:$height;
	background-color:$backgroundColor;
	@content;
}
// @include owl套件左右箭頭icon外框設定(30px, 40px, $NC_灰){
// 	box-shadow:0 0 1px rgba(0,0,0,.3);
// };
//function

// #Moms_Kalbi_logo.load{ @include animation(pulse .4s both);}
// @include keyframes(pulse) {
// 	0% {@include transform(scale3d(1, 1, 1));}
// 	50% {@include transform(scale3d(1.05, 1.05, 1.05));}
// 	100% {@include transform(scale3d(1, 1, 1));}
// }

//	RWD變版breakpoint區
//	iPhone4、5 手機版
// @include breakpoint(max-width 320px) { }
//	iPhone4及舊版手機(320*533)拿橫的時候
// @include breakpoint(481px (max-width 568px) (orientation landscape)){ }
//	iPhone5「以上」手機拿橫的時候
// @include breakpoint(568px (max-width 736px) (orientation landscape)){ }
//	手機版拿直的時候_portrait
// @include breakpoint(max-width 767px (orientation portrait)) { }
//	手機版拿橫的時候 Landscape
// @include breakpoint(max-width 767px (orientation landscape)) { }
//	手機版型區
// @include breakpoint(max-width 767px) { }
//	iPhone4以上手機拿橫，包含平板「以上」版型區
// @include breakpoint(480px) { }
//	iPhone5以上手機拿橫，包含平板「以上」版型區
// @include breakpoint(568px) { }
// android手機拿橫(640px)，包含平板「以上」版型區
// @include breakpoint(640px) { }
//	iPhone6以上手機拿橫，包含平板「以上」版型區
// @include breakpoint(667px) { }
//	平板版型區(1024*768舊螢幕時轉桌機)
// @include breakpoint(768px (max-width 1000px)) {
//	桌機「以上」版型區
// @include breakpoint(1017px) { }
//	桌機1024版型區
// @include breakpoint(1024px) { }
//	桌機1024「以上」版型區
// @include breakpoint(1025px) { }
//	1200px加17px捲軸，寬度版型區
// @include breakpoint(1217px) { }
//	桌機1280版型區
// @include breakpoint(1280px) { }
//	桌機1366版型區
// @include breakpoint(1366px) { }
//	桌機1440版型區
// @include breakpoint(1440px) { }
//	桌機1600版型區
// @include breakpoint(1600px) { }
//	桌機1920版型區
// @include breakpoint(1920px) { }