$yeekeeGameW:1200;
$yeekeeGameH:674;
$yeekeeTableW:916;
$yeekeeTableH:223;
$yeekeeTableBallWH:94;
$yeekeeNumWH:168;
$yeekeeGlassW:816;
$yeekeeGlassH:247;
$yeekeeGlassBoxW:124;
$yeekeeGlassBoxH:213;
$yeekeeGlassBallWH:32;
$yeekeeTitleW:544;
$yeekeeTitleH:215;
$yeekeeGirlW:434;
$yeekeeGirlH:620;

$yeekeeGlassBallsMoveTime:2.5s;
$yeekeeGlassBallDropTime:0.4s;
$yeekeeGlassBallDropIntervalTime:0.6s;

@keyframes yeekeeDecoShake {
  0%{transform:rotate3d(1,1,0,10deg)}
  33.33%{transform:rotate3d(1,1,0,-15deg)}
  66.66%{transform:rotate3d(1,1,0,22.5deg)}
  100%{transform:rotate3d(1,1,0,-33.75deg)}
}
@keyframes yeekeeSlowFlash {
  0%, 10%{opacity:0}
  90%, 100%{opacity:1}
}
@keyframes yeekeeShiny {
  0% {opacity:0}
  50% {opacity:1}
}
@keyframes yeekeeTableItemDotsBright {
  0%{background-position:0 0;}
  100%{background-position:calc(39/38)*100% 0;}
}
@keyframes yeekeeGlassBallsRotate {
  0%{transform:rotate3d(0,0,0,180deg)}
  45%{transform:rotate3d(0,0,1,180deg)}
  100%{transform:rotate3d(0,0,1,360deg)}
}
@keyframes yeekeeGlassBallDotsMove-Mob {
  0%, 50%, 100%{transform: scale3d(.36,.36,.36) translate3d(0,0,0) rotate3d(0,0,1,0deg)}
  12.5%{transform: scale3d(.36,.36,.36) translate3d(28%,-24%,0) rotate3d(0,0,1,90deg)}
  25%{transform: scale3d(.36,.36,.36) translate3d(0,-36%,0) rotate3d(0,0,1,180deg)}
  37.5%{transform: scale3d(.36,.36,.36) translate3d(-24%,-24%,0) rotate3d(0,0,1,270deg)}
  62.5%{transform: scale3d(.36,.36,.36) translate3d(28%,28%,0) rotate3d(0,0,1,-90deg)}
  75%{transform: scale3d(.36,.36,.36) translate3d(0,36%,0) rotate3d(0,0,1,-180deg)}
  87.5%{transform: scale3d(.36,.36,.36) translate3d(-24%,28%,0) rotate3d(0,0,1,-270deg)}
}
@keyframes yeekeeGlassBallDotsMove-Desk {
  0%, 50%, 100%{transform: scale3d(1,1,1) translate3d(0,0,0) rotate3d(0,0,1,0deg)}
  12.5%{transform: scale3d(1,1,1) translate3d(24%,-24%,0) rotate3d(0,0,1,90deg)}
  25%{transform: scale3d(1,1,1) translate3d(0,-34%,0) rotate3d(0,0,1,180deg)}
  37.5%{transform: scale3d(1,1,1) translate3d(-24%,-24%,0) rotate3d(0,0,1,270deg)}
  62.5%{transform: scale3d(1,1,1) translate3d(24%,24%,0) rotate3d(0,0,1,-90deg)}
  75%{transform: scale3d(1,1,1) translate3d(0,34%,0) rotate3d(0,0,1,-180deg)}
  87.5%{transform: scale3d(1,1,1) translate3d(-24%,24%,0) rotate3d(0,0,1,-270deg)}
}
@keyframes yeekeeBlueBallsMove{
  0%{transform:translate3d(-136%,-112%,0) rotate3d(0,0,0,0deg)}
  10%{transform:translate3d(-111%,244%,0) rotate3d(0,0,1,288deg)}
  20%{transform:translate3d(74%,-12%,0) rotate3d(0,0,1,576deg)}
  30%{transform:translate3d(32%,200%,0) rotate3d(0,0,1,864deg)}
  40%{transform:translate3d(-9%,60%,0) rotate3d(0,0,1,1152deg)}
  50%{transform:translate3d(-34%,272%,0) rotate3d(0,0,1,1440deg)}
  60%{transform:translate3d(-109%,101%,0) rotate3d(0,0,1,1728deg)}
  70%{transform:translate3d(59%,275%,0) rotate3d(0,0,1,2016deg)}
  80%{transform:translate3d(82%,128%,0) rotate3d(0,0,1,2304deg)}
  90%{transform:translate3d(-34%,194%,0) rotate3d(0,0,1,2592deg)}
  100%{transform:translate3d(-136%,-112%,0) rotate3d(0,0,1,2880deg)}
}
@keyframes yeekeeYellowBallsMove{
  0%{transform:translate3d(-120%,276%,0) rotate3d(0,0,0,0deg)}
  10%{transform:translate3d(55%,272%,0) rotate3d(0,0,1,288deg)}
  20%{transform:translate3d(-4%,162%,0) rotate3d(0,0,1,576deg)}
  30%{transform:translate3d(-66%,-126%,0) rotate3d(0,0,1,864deg)}
  40%{transform:translate3d(-90%,192%,0) rotate3d(0,0,1,1152deg)}
  50%{transform:translate3d(-132%,34%,0) rotate3d(0,0,1,1440deg)}
  60%{transform:translate3d(-32%,263%,0) rotate3d(0,0,1,1728deg)}
  70%{transform:translate3d(66%,50%,0) rotate3d(0,0,1,2016deg)}
  80%{transform:translate3d(32%,187%,0) rotate3d(0,0,1,2304deg)}
  90%{transform:translate3d(-50%,-3%,0) rotate3d(0,0,1,2592deg)}
  100%{transform:translate3d(-120%,276%,0) rotate3d(0,0,1,2880deg)}
}
@keyframes yeekeeRedBallsMove{
  0%{transform:translate3d(63%,258%,0) rotate3d(0,0,0,0deg)}
  10%{transform:translate3d(-53%,265%,0) rotate3d(0,0,1,288deg)}
  20%{transform:translate3d(-3%,122%,0) rotate3d(0,0,1,576deg)}
  30%{transform:translate3d(-110%,-160%,0) rotate3d(0,0,1,864deg)}
  40%{transform:translate3d(94%,184%,0) rotate3d(0,0,1,1152deg)}
  50%{transform:translate3d(50%,-98%,0) rotate3d(0,0,1,1440deg)}
  60%{transform:translate3d(0%,190%,0) rotate3d(0,0,1,1728deg)}
  70%{transform:translate3d(-68%,-14%,0) rotate3d(0,0,1,2016deg)}
  80%{transform:translate3d(-84%,200%,0) rotate3d(0,0,1,2304deg)}
  90%{transform:translate3d(94%,34%,0) rotate3d(0,0,1,2592deg)}
  100%{transform:translate3d(63%,258%,0) rotate3d(0,0,1,2880deg)}
}
//玻璃罩內各彩球上昇開獎的動畫
@keyframes yeekeeGlassBallLottery {
  0%{
    top:calc(($yeekeeGlassBoxH - $yeekeeGlassBallWH) / 2 / $yeekeeGlassBoxH)*100%;
    transform:translate3d(0,0,0) rotate3d(0,0,0,180deg);
  }
  71.875%{
    top:-11%;
    transform:translate3d(0,0,0) rotate3d(0,0,1,225deg);
  }
  90.625%{
    top:-13%;
    transform:translate3d(0,0,0) rotate3d(0,0,1,315deg);
  }
  62.5%, 81.25%, 100%{top:-15%}
  62.5%{transform:translate3d(0,0,0) rotate3d(0,0,1,180deg)}
  81.25%{transform:translate3d(0,0,0) rotate3d(0,0,1,270deg)}
  100%{transform:translate3d(0,0,0) rotate3d(0,0,1,360deg)}
}
@keyframes yeekeeRedBallNum0Result{
  0%{transform:translate3d(47%,-93%,0) rotate3d(0,0,1,180deg)}
  100%{}
}
@keyframes yeekeeRedBallNum1Result{
  0%{transform:translate3d(-2%,122%,0) rotate3d(0,0,1,-180deg)}
  100%{}
}
@keyframes yeekeeRedBallNum2Result{
  0%{transform:translate3d(-88%,144%,0) rotate3d(0,0,1,-190deg)}
  100%{}
}
@keyframes yeekeeRedBallNum3Result{
  0%{transform:translate3d(88%,34%,0) rotate3d(0,0,1,-210deg)}
  100%{}
}
@keyframes yeekeeRedBallNum4Result{
  0%{transform:translate3d(-70%,-10%,0) rotate3d(0,0,1,210deg)}
  100%{}
}
@keyframes yeekeeRedBallNum5Result{
  0%{transform:translate3d(-90%,196%,0) rotate3d(0,0,1,215deg)}
  100%{}
}
@keyframes yeekeeRedBallNum6Result{
  0%{transform:translate3d(92%,184%,0) rotate3d(0,0,1,-185deg)}
  100%{}
}
@keyframes yeekeeRedBallNum7Result{
  0%{transform:translate3d(-9%,125%,0) rotate3d(0,0,1,195deg)}
  100%{}
}
@keyframes yeekeeRedBallNum8Result{
  0%{transform:translate3d(-56%,262%,0) rotate3d(0,0,1,-205deg)}
  100%{}
}
@keyframes yeekeeRedBallNum9Result{
  0%{transform:translate3d(132%,266%,0) rotate3d(0,0,1,205deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum0Result{
  0%{transform:translate3d(39%,50%,0) rotate3d(0,0,1,180deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum1Result{
  0%{transform:translate3d(-4%,158%,0) rotate3d(0,0,1,195deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum2Result{
  0%{transform:translate3d(88%,212%,0) rotate3d(0,0,1,195deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum3Result{
  0%{transform:translate3d(-34%,268%,0) rotate3d(0,0,1,-210deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum4Result{
  0%{transform:translate3d(-73%,120%,0) rotate3d(0,0,1,-195deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum5Result{
  0%{transform:translate3d(50%,272%,0) rotate3d(0,0,1,-210deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum6Result{
  0%{transform:translate3d(-138%,34%,0) rotate3d(0,0,1,190deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum7Result{
  0%{transform:translate3d(-34%,-94%,0) rotate3d(0,0,1,190deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum8Result{
  0%{transform:translate3d(21%,-3%,0) rotate3d(0,0,1,-200deg)}
  100%{}
}
@keyframes yeekeeYellowBallNum9Result{
  0%{transform:translate3d(105%,138%,0) rotate3d(0,0,1,205deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum0Result{
  0%{transform:translate3d(-109%,172%,0) rotate3d(0,0,1,180deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum1Result{
  0%{transform:translate3d(-136%,-68%,0) rotate3d(0,0,1,-190deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum2Result{
  0%{transform:translate3d(50%,-114%,0) rotate3d(0,0,1,-200deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum3Result{
  0%{transform:translate3d(-38%,194%,0) rotate3d(0,0,1,-205deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum4Result{
  0%{transform:translate3d(25%,-15%,0) rotate3d(0,0,1,195deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum5Result{
  0%{transform:translate3d(0%,50%,0) rotate3d(0,0,1,190deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum6Result{
  0%{transform:translate3d(-112%,244%,0) rotate3d(0,0,1,-215deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum7Result{
  0%{transform:translate3d(82%,126%,0) rotate3d(0,0,1,-210deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum8Result{
  0%{transform:translate3d(0%,129%,0) rotate3d(0,0,1,205deg)}
  100%{}
}
@keyframes yeekeeBlueBallNum9Result{
  0%{transform:translate3d(-112%,100%,0) rotate3d(0,0,1,-215deg)}
  100%{}
}