.IE-bg{
	font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
	position:fixed;
	top:0;
	z-index:999999999;
	width:100%;
	height:100%;
	background-color:#eee;
}
.IE-tips{
	color:#333;
	line-height: 1.8;
	text-align: center;
	width: 730px;
	height: 450px;
	background-color:#fff;
	border-width:3px;
	border-style:solid;
	border-color:#ba163a #0b478c #0b478c #ba163a;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -225px 0 0 -365px;
	padding:17px;
	z-index:999;
}
.IE-tips a{
	color: #fff;
	background-color:#0b478c;
	display: inline-block;
	padding:3px 10px;
	margin:0 12px;
}
.IE-tips a:hover{text-decoration: underline;}
.IE-tips p.small-font{
	color:#ba163a;
	font-size:16px;
	font-weight: bold;
}
