/** ---reset.css區--- start **/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
	body {line-height: 1;}
	ol, ul {list-style: none;}
	blockquote, q {quotes: none;}
	blockquote:before, blockquote:after,
	q:before, q:after {content: ''; content: none;}
	table {border-collapse: collapse; border-spacing: 0;}
/** ---reset.css區--- end **/

/** ---共用css區--- start **/
	html, body{
		font-size: 18px;
		font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
		/**   多國語言版   font-family:"Helvetica Neue",Helvetica,Arial,"微軟正黑體","微软雅黑","メイリオ","맑은 고딕",sans-serif;**/
		width:100%;
		min-width: 480px;
		min-height:100%;
		background: #0a0f1b;
		background-size: cover;
		-webkit-text-size-adjust:none; /* 在 iOS 旋轉畫面鎖定文字不縮放 */
		-webkit-overflow-scrolling:touch; /* 在 iOS 旋轉畫面鎖定文字不縮放 */
	}
	html.help_type, body.help_type{ 
		background:#0a0f1b url(../images/bg.jpg) no-repeat fixed center bottom;
		background-size:cover;
		width:100%;
		height:100%;
		padding:1%;
		box-sizing:border-box;
	}
	@font-face{
		font-family:SOSA;
		src: url('../font/sosa-regular-webfont.eot') format('eot'), url('../font/sosa-regular-webfont.woff') format('woff'), url('../font/sosa-regular-webfont.ttf') format('truetype');
	}
	@font-face{
		font-family:RAPH;
		src: url(../font/raphaelicons-webfont.ttf);
	}
	a, button, textarea, select, input{ 
		outline: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0); /* 手指點連結的顏色變透明 */
	}
	button{
		-webkit-user-select: none;	/*超連不能選取 */
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	a{ 
		-webkit-user-select: none; /* 標題H1還超連不能選取 */
		text-decoration:none;
	}
/** ---共用css區--- end **/

/**		問題處理評分(我的問題) start**/
	nav#help{
		width: 100%;
		padding: 15px 15px 0;
		box-sizing: border-box;
		border-bottom: 3px solid #263C72;
		background-color: #0a1020;
		background: -webkit-linear-gradient(270deg, #1f2739 0%,#070e1d 100%);
		background: -moz-linear-gradient(270deg, #1f2739 0%, #070e1d 100%);
		background: -ms-linear-gradient(270deg, #1f2739 0%,#070e1d 100%);
		background: -o-linear-gradient(270deg, #1f2739 0%,#070e1d 100%);
		background: linear-gradient(180deg, #1f2739 0%,#070e1d 100%);
		margin-top: 47px;
	}
	ul#tabMenu{
		font-size: 0;
		text-align: center;
	}
	ul#tabMenu li{
		width: 50%;
		display: inline-block;
		font-size: 18px;
	}
	ul#tabMenu li a{
		display: block;
		height: 38px;
		line-height: 38px;
		background: -webkit-linear-gradient(270deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		background: -moz-linear-gradient(270deg, rgba (35,57,92,1)0%, rgba(27,42,80,1) 100%);
		background: -ms-linear-gradient(270deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		background: -o-linear-gradient(270deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		background: linear-gradient(180deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		color: #aaa;
		border-radius: 6px 6px 0 0;
		text-shadow: 0 0 1px #aaa,
					 0px 2px 1px #0d1526,
					 -2px 2px 1px #0d1526,
					 2px 2px 1px #0d1526,
					 0px -2px 1px #0d1526,
					 -2px -2px 1px #0d1526,
					 2px -2px 1px #0d1526,
					 2px 0px 1px #0d1526,
					 -2px 0px 1px #0d1526,
					 0px 0px 6px #0d1526;
		box-shadow: 0 1px 2px #2b476e inset, 0 2px 0 #5d7ca2 inset;
		margin: 0 5px;
	}
	ul#tabMenu li a.nowTab{
		background: -webkit-linear-gradient(270deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		background: -moz-linear-gradient(270deg, rgba (51,83,132,1)0%, rgba(38,60,114,1) 100%);
		background: -ms-linear-gradient(270deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		background: -o-linear-gradient(270deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		background: linear-gradient(180deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		color: #fff;
		text-shadow: 0 0 1px #fff,
					 0px 2px 1px #26334d,
					 -2px 2px 1px #26334d,
					 2px 2px 1px #26334d,
					 0px -2px 1px #26334d,
					 -2px -2px 1px #26334d,
					 2px -2px 1px #26334d,
					 2px 0px 1px #26334d,
					 -2px 0px 1px #26334d,
					 0px 0px 6px #26334d;
		box-shadow: 0 2px 0 #85b2e8 inset, 0 2px 1px #40689f inset;
	}
	article{
		padding: 1px 15px;
		box-sizing: border-box;
		background-color: rgba(255,255,255,0.25);
		background: #0a0f1b url(../images/darkBlue_bg.jpg) no-repeat center top;
		background-size: cover;
	}
	section{
		font-size: 0;
		padding: 15px 0
	}
	section.underline{ border-bottom: 2px solid #33506e;}
	label.QuScore{
		display: inline-block;
		width: 40%;
		color: #cdd9e1;
		font-size: 18px;
		border-left: 3px solid #cdd9e1;
		padding: 5px 0  5px 5px;
		box-sizing: border-box;
	}
	section label:nth-child(2){ width: 60%;}
	label.QuScore span{ margin-left: 20px;}
	label.QuScore span#progress{
		color: #1e9f05;
		text-shadow: 0 0 1px #1e9f05;
	}
	label.QuScore span#questionTime, label.QuScore span#responseTime{
		font-size: 16px;
		color: #aaa;
		text-shadow: 0 0 10px rgba(0,0,0,0.75);
	}
	textarea.problem_style{
		width: 100%;
		color: #444;
		font: 18px/1.6 "微軟正黑體", sans-serif;
		text-align: justify;
		text-shadow: 0 0 1px rgba(70,70,70,0.25);
		background-color: #b8c9d9;
		border: 3px solid #33506e;
		border-radius: 6px;
		box-sizing: border-box;
		box-shadow: 0 0 8px 4px #dae1e5 inset, 0px 0px 15px rgba(0,0,0,0.25);
		padding: 4px 8px;
		margin-top: 12px;
	}
	.scoreBtnSize{
		width: 185px;
		height: 44px;
		font: 18px/44px "微軟正黑體", sans-serif;
		letter-spacing: 1px;
		margin: 12px auto;
	}
	.btnColor {
		display: block;
		color: #fff;
		border-radius: 6px;
		border: none;
		cursor: pointer;
		position: relative;
		transition:all 0.6s ease-out;
		background: -webkit-linear-gradient(270deg, #335384 0%,#263c72 100%);
		background: -moz-linear-gradient(270deg, #335384 0%, #263c72 100%);
		background: -ms-linear-gradient(270deg, #335384 0%,#263c72 100%);
		background: -o-linear-gradient(270deg, #335384 0%,#263c72 100%);
		background: linear-gradient(180deg, #335384 0%,#263c72 100%);
		box-shadow: 0 2px 0 #81abe0 inset, 0 0 1px 1px #426ca2 inset, 0 4px rgba(0,0,0,0.8);
		text-shadow: 0 0 1px #aaa,
			    	 0px 2px 1px rgba(0,0,0,0.35),
				     -2px 2px 1px rgba(0,0,0,0.35),
			    	 2px 2px 1px rgba(0,0,0,0.35),
				     0px -2px 1px rgba(0,0,0,0.35),
				     -2px -2px 1px rgba(0,0,0,0.35),
				     2px -2px 1px rgba(0,0,0,0.35),
			    	 2px 0px 1px rgba(0,0,0,0.35),
				     -2px 0px 1px rgba(0,0,0,0.35),
			    	 0px 0px 6px rgba(0,0,0,0.35);
	}
	.btnColor:focus, .btnColor:active{
		top: 4px;
		border: 1px solid #1f3357;
		box-shadow: 0 0 5px 3px rgba(31,51,87,0.65) inset, 0 0 15px 9px rgba(31,51,87,0.5) inset, 0px 0px 3px 1px rgba(0,0,0,0.5), 0px 0px 10px 5px rgba(0,0,0,0.3);
		text-shadow: 0px 0px 4px #9bc9ff, 0px 0px 8px #9bc9ff;
	}
	#scoreDiv{ display: none;}
	ul.picker-stars{ margin-right: 9px;}
	ul.picker-stars, ul.picker-stars li{ display: inline-block;}
	ul.picker-stars li{
		width: 28px;
		height: 28px;
		position: relative;
	}
	ul.picker-stars li:after, ul.picker-stars li.star:before{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 6px;
		left: 0;
		color: #E0A900;
		font-size: 24px;
		font-family: SOSA;
		text-align: center;
		cursor: pointer;
	}
	ul.picker-stars li.star:before{
		content: "e";
		color: transparent;
		font-size: 24px;
		text-shadow: 0 1px 1px #000, 0 1px 2px #111, 0 1px 3px #222;
	}
	ul.picker-stars li.star:after{
		content: "e";
		color: #fff288;
		background: -webkit-linear-gradient(180deg, #fff288 0%,#e98900 90%);
		background: -moz-linear-gradient(180deg, #fff288 0%,#e98900 90%);
		background: -ms-linear-gradient(180deg, #fff288 0%,#e98900 90%);
		background: -o-linear-gradient(180deg, #fff288 0%,#e98900 90%);
		background: linear-gradient(180deg, #fff288 0%,#e98900 90%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	ul.picker-stars li.unstar:after{
		content: "f";
		color: #e5e5e5;
		text-shadow: 0 1px 1px #333, 0 2px 2px #000;
	}
	article > section:nth-child(4) > label.QuScore{ width: 135px;}
	section > h5{
		display: inline-block;
		color: #ffdf01;
		font-size: 14px;
		letter-spacing: 1px;
		vertical-align: text-bottom;
		text-shadow: 0 0 8px #000;
		padding: 5px 0 0 9px;
	}
	textarea.problem_rating{
		width: 100%;
		height: 180px;
		color: #333;
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: 1px;
		text-align: justify;
		background-color: #eee;
		border: 1px solid #142137;
		border-radius: 10px;
		box-shadow: 0 0 10px #142137, 0 0 2px #333 inset, 0 0 4px #666 inset, 0 0 6px #999 inset, 0 0 8px #ccc inset;
		padding: 5px 10px;
		margin-top: 12px;
		resize:none;
		box-sizing: border-box;
	}
	textarea.problem_rating:focus {
		border: 1px solid #E0A900;
		background-color: #fff;
		box-shadow: 0 0 2px rgba(255,238,124,1), 0 0 4px rgba(255,238,124,.8), 0 0 6px rgba(255,238,124,.6), 0 0 2px rgba(255,238,124,1) inset, 0 0 4px rgba(255,238,124,.8) inset, 0 0 6px rgba(255,238,124,.6) inset;
	}
	.sendBtnSize{
		width: 100px;
		height: 44px;
		font: 20px/44px "微軟正黑體", sans-serif;
		letter-spacing: 2px;
		margin: 12px auto;
	}
	#QuScorePopup, #askPopup, #activeSuccessPopup, #activeErrorPopup{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		background: rgba(0,0,0,0.8);
		z-index: 10;
		text-align: center;
		display: none;
	}
	#popup-box{
		width: 350px;
		height: 216px;
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: rgba(0,22,49,0.75);
		border: 2px solid #00387d;
		border-radius: 10px;
		margin: -108px 0 0 -175px;
		z-index: 15;
	}
	#QuScorePopup p, #activeSuccessPopup p, #activeErrorPopup p{
		color: #fff;
		font-size: 32px;
		text-shadow: 0 0 1px #fff;
		padding: 40px 0 20px;
	}
	#askPopup p{
		color: #fff;
		font-size: 21px;
		line-height: 1.7;
		text-shadow: 0 0 1px #fff;
		padding: 13px 0 2px;
	}
	.popupBtnSize{
		width: 150px;
		height: 60px;
		font: 32px/60px "微軟正黑體", sans-serif;
		letter-spacing: 2px;
		margin: 12px auto;
	}
/**		問題處理評分(我的問題) end**/

/**		我的問題 start**/
	table.table{
		border-collapse: separate;
		width:100%;
		background-color:#b8c9d9;
		table-layout: fixed;
		border-spacing:0;
		border:2px solid #3a5a79;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.35), 0 0 10px 5px rgba(0,0,0,0.12) inset;
		border-radius: 6px;
		overflow: hidden;
	}
	th{
		color:#a0a6b3;
		font-weight: bold;
		background: -webkit-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: -moz-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: -ms-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: -o-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: linear-gradient(180deg, #303749 50%,#232a3a 100%);
	}
	table td[class*=col-], table th[class*=col-]{
		display:table-cell;
		position:static;
		float:none;
	}
	.table>thead>tr>th{
		border-left: 1px solid #48546d;
		border-right: 1px solid #0c1626;
	}
	.table>thead>tr>th:first-child{ border-left: none;}
	.table>thead>tr>th:last-child{ border-right: none;}
	.table>tbody>tr>td{
		color: #424751;
		text-shadow: 0 0 1px rgba(66,71,81,0.3);
		border-left: 1px solid #d2dee8;
		border-right: 1px solid #9bb6d0;
		border-top: 1px solid #d2dee8;
		border-bottom: 1px solid #9bb6d0;
	}
	.table>tbody>tr>td:first-child{ border-left: none;}
	.table>tbody>tr>td:last-child{ border-right: none;}
	.table>tbody>tr:first-child>td{ border-top: none;}
	.table>tbody>tr:last-child>td{ border-bottom: none;}
	.table>tbody>tr>td>a, .table>thead>tr>th{
		font-size: 16px;
		line-height:1.7;
		text-align:center;
		padding:8px;
	}
	.table>tbody>tr:nth-child(even){background-color:rgba(255,255,255,0.2);}
	.table>tbody>tr:focus, .table>tbody>tr:active{ background-color: #3a5a79;}
	.table>tbody>tr:focus>td>a, .table>tbody>tr:active>td>a{ color: #eee;}
	.table>tbody>tr>td>a>span{ font-weight: bold;}
	.table>tbody>tr>td>a>span.time{ padding-left: 10px;}
	.table>tbody>tr>td>a>span.completed{ color:#1e9f05;}
	.table>tbody>tr>td>a>span.Pending{ color:#f1282b;}
	.table>tbody>tr>td>a{
		display: block;
		width: 100%;
		height: 100%;
		color: #424751;
		text-shadow: 0 0 1px rgba(66,71,81,0.3);
		box-sizing: border-box;
	}
	.col-xs-12{width:100%}
	.col-xs-11{width:91.66666667%}
	.col-xs-10{width:83.33333333%}
	.col-xs-9{width:75%}
	.col-xs-8{width:66.66666667%}
	.col-xs-7{width:58.33333333%}
	.col-xs-6{width:50%}
	.col-xs-5{width:41.66666667%}
	.col-xs-4{width:33.33333333%}
	.col-xs-3{width:25%}
	.col-xs-2{width:16.66666667%}
	.col-xs-1{width:8.33333333%}
	section.footerMenu{
		position: relative;
		text-align: center;
		padding-top: 0;
	}
	section.footerMenu>p{
		color: #fff;
		font-size: 16px;
		letter-spacing: 1px;
		position: absolute;
		top: 26px;
	}
	.PNBtnSize, .SCBtnSize{
		display: inline-block;
		width: 105px;
		height: 44px;
		font: 20px/44px "微軟正黑體", sans-serif;
		letter-spacing: 1px;
		margin: 12px;
	}
/**		我的問題 end**/

/**		我要提問 start**/
	.btnRedColor{
		display: block;
		color: #fff;
		border-radius: 6px;
		border: none;
		cursor: pointer;
		position: relative;
		transition:all 0.6s ease-out;
		background: -webkit-linear-gradient(270deg, #8b3030 0%,#722626 100%);
		background: -moz-linear-gradient(270deg, #8b3030 0%, #722626 100%);
		background: -ms-linear-gradient(270deg, #8b3030 0%,#722626 100%);
		background: -o-linear-gradient(270deg, #8b3030 0%,#722626 100%);
		background: linear-gradient(180deg, #8b3030 0%,#722626 100%);
		box-shadow: 0 2px 0 #e98585 inset, 0 0 1px 1px #963838 inset, 0 4px rgba(0,0,0,0.8);
		text-shadow: 0 0 1px #aaa,
			    	 0px 2px 1px rgba(0,0,0,0.35),
				     -2px 2px 1px rgba(0,0,0,0.35),
			    	 2px 2px 1px rgba(0,0,0,0.35),
				     0px -2px 1px rgba(0,0,0,0.35),
				     -2px -2px 1px rgba(0,0,0,0.35),
				     2px -2px 1px rgba(0,0,0,0.35),
			    	 2px 0px 1px rgba(0,0,0,0.35),
				     -2px 0px 1px rgba(0,0,0,0.35),
			    	 0px 0px 6px rgba(0,0,0,0.35);
	}
	.btnRedColor:focus, .btnRedColor:active{
		top: 4px;
		border: 1px solid #57231f;
		box-shadow: 0 0 5px 3px rgba(87,35,31,0.8) inset, 0 0 15px 9px rgba(87,35,31,0.6) inset, 0 0 3px 1px rgba(0,0,0,0.5), 0 0 10px 5px rgba(0,0,0,0.5);
		text-shadow: 0px 0px 3px #ffbbbb, 0px 0px 6px #ffbbbb;
	}
	.file-box{
		display: inline-block;
		position:relative;
		width:335px;
	}
	.file{
		position:absolute;
		top:0;
		left:0;
		height:44px;
		opacity:0;
		width:335px;
	}
	label.ask, select.ask, p.ask, em.ask, textarea.ask, button.fileBtnSize { display: inline-block;}
	label.ask{
		width: 20%;
		color: #cdd9e1;
		font-size: 18px;
		border-left: 3px solid #cdd9e1;
		padding: 5px 0  5px 5px;
		box-sizing: border-box;
	}
	select.ask{
		font-size: 16px;
		font-weight: bold;
		font-family: "微軟正黑體", sans-serif;
		color: #333;
		background-color: #f2f2f2;
		border: 1px solid #333;
		border-radius: 5px;
		margin:0;
		padding: 5px 8px;
	}
	p.ask{
		color: #ffdf01;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 1px;
		margin: 6px 0px 0px 8px;
		text-shadow: none;
	}
	em.ask{
		font-size: 18px;
		color: #fff;
		text-shadow: 0 0 18px #000, 0 0 9px #000;
	}
	textarea.ask{
		width: 80%;
		height: 200px;
		color: #333;
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: 1px;
		background-color: #e5e5e5;
		border: 1px solid #142137;
		border-radius: 5px;
		box-shadow: 0 0 10px #142137, 0 0 2px #333 inset, 0 0 4px #666 inset, 0 0 6px #999 inset, 0 0 8px #ccc inset;
		padding: 5px 10px;
		resize:none;
		box-sizing: border-box;
	}
	textarea.ask:focus{ background-color: #fff;}
	.text-top{ vertical-align: top;}
	.fileBtnSize {
		display: inline-block;
		width: 125px;
		height: 44px;
		font: 20px/44px "微軟正黑體", sans-serif;
		letter-spacing: 1px;
		margin-bottom: 6px;
	}
	section.fileBtn>input {
		width: 300px;
		color: #fff;
		font: 16px/24px "微軟正黑體", sans-serif;
		margin-bottom: 6px;
	}
	.deleteBtnSize{
		display: inline-block;
		width: 86px;
		height: 44px;
		font: 20px/44px "微軟正黑體", sans-serif;
		letter-spacing: 1px;
		vertical-align: top;
		margin-left: 9px;
	}
	input.txt{
		width: 172px;
		background-color: #b8c9d9;
		color: #444;
		font: 14px/1 "微軟正黑體", sans-serif;
		text-shadow: 0 0 1px rgba(70,70,70,0.25);
		padding: 5px 8px 6px;
		border-radius: 5px;
		border: 1px solid #142137;
		margin: 0 5px 0 15px;
		vertical-align: super;
		box-shadow: 0 0 6px 3px #dae1e5 inset, 0px 0px 15px rgba(0,0,0,0.35);
	}
	input.ask{
		width: 30%;
		height: 45px;
		color: #333;
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: 1px;
		background-color: #e5e5e5;
		border: 1px solid #142137;
		border-radius: 5px;
		box-shadow: 0 0 10px #142137, 0 0 2px #333 inset, 0 0 4px #666 inset, 0 0 6px #999 inset, 0 0 8px #ccc inset;
		padding: 5px 10px;
		resize:none;
		box-sizing: border-box;
	}
	input.ask:focus{ background-color: #fff;}
	section.fourPart label:nth-child(3){
		width: 18%;
		margin-left: 2%;
		border:none;
	}
	ul.ask{
		text-align: center;
		width: 100%;
		margin: 15px auto;
	}
	ul.ask p{
		color: #ffdf01;
		font-size: 16px;
		letter-spacing: 1px;
		text-shadow: 0 0 8px #000;
		padding-bottom: 5px;
	}
	ul.ask li{
		display: inline-block;
	}
	.SCBtnSize{ margin: 12px 32px;}
/**		我要提問 end**/

/**		7poker遊戲介面 start**/
	/* ===== menu start ===== */
		.menu{
			overflow:hidden;
			text-align:center;
		}
		.menu li a{
			float:left;
			display:block;
			width:16.05%;
			height:44px;
			line-height:44px;
			color:#fff;
			text-shadow:0 0 5px #000, 0 0 5px #000;
			font-weight:normal;
			margin:0 .3% 5px;
			text-decoration:none;
			-webkit-border-radius:5px;
			border-radius:5px;
			border-color:#5a779c ;
			border-style:solid;
			border-width:2px 1px 1px 1px;
			-webkit-box-shadow:0px 4px #000;
			box-shadow:0px 4px #000;
			background:#22385b;
			box-sizing:border-box;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,57,91,1)), color-stop(100%,rgba(27,43,80,1))); /* Chrome,Safari4+ */
			background: -o-linear-gradient(top, rgba(35,57,91,1) 0%,rgba(27,43,80,1) 100%); /* Opera 11.10+ */
		}
		.menu li a:focus, .menu li a:active,
		#help_feature .menu li a.feature,
		#help_interface .menu li a.interface,
		#help_basicplay .menu li a.basicplay,
		#help_type .menu li a.type,
		#help_rule .menu li a.rule,
		#help_provision .menu li a.provision{
			border-color:#6090cc ;
			background:#314f81;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,82,131,1)), color-stop(100%,rgba(38,61,115,1))); /* Chrome,Safari4+ */
			background: -o-linear-gradient(top, rgba(50,82,131,1) 0%,rgba(38,61,115,1) 100%); /* Opera 11.10+ */
		}
	/* ===== menu end ===== */
	/* ===== 基本設定 start ===== */
		.content{
			clear:both;
			position:relative;
		}
		.content h2{
			font-size:20px;
			font-weight:normal;
			color:#69a7f4;
			margin:10px auto;
			text-align:center;
		}
		.content h3{
			display:inline-block;
			padding:5px 8px;
			font-size:18px;
			font-weight:normal;
			background:#000;
			border:1px solid #666;
			margin-bottom:5px;
		}
		.content .line{
			width:100%;
			height:2px;
			margin-bottom:8px;
			background:#06C;
			background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
			background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
		}
		.content ol, .content ul{
			margin-bottom:20px;
		}
		.content ol li{
			margin-left:1.4em;
			list-style-type:decimal;
			margin-bottom:.4em;
		}
		.content ul li{
			margin-left:1.4em;
			list-style-type:disc;
			margin-bottom:.4em;
		}
		.content li.style1{
			margin-left:0;
			list-style-type:none;
		}
		.content li.style2{
			list-style-type:square;
			color:#FC0;
		}
		.content li.style3{
			list-style-type:circle;
		}
		.content .part{
			width:100%;
			text-align:center;
			/*for 遊戲特色/影片*/
		}
		.content .part1{
			width:90%;
			color:#FFF;
			margin:0 auto;
		}
		.content .part1 .pic{
			text-align:center;
			margin-bottom:5px;
		}
		.content .part1 .pic img{
			width:100%;
			height:auto;
			border:1px solid #666;
		}
	/* ===== 基本設定 end ===== */
	/* ===== 牌型範例 start ===== */
		.content ul.card_type{
			border:2px solid #FFF;
		}
		.content ul.card_type li{
			border-top:1px solid #fff;
			border-bottom:1px solid #8bb9eb;
			padding:8px;
			list-style-type:none;
			margin-left:0;
			margin-bottom:0;
		}
		.content ul.card_type li:nth-child(odd){background-color:#cfe4fc; } 
		.content ul.card_type li:nth-child(even){background-color:#a7cefa; } 
		.content ul.card_type li:first-child{ border-top:none;}
		.content ul.card_type li:last-child{ border-bottom:none;}
		.content .card_type .type_explain{
			color:#036;
			border-bottom:1px dotted #85C1E2;
			margin-bottom:8px;
		}
		.content .card_type .type_explain em{
			color:#F69;
			font-weight:bold;
		}
		.content .card_type .type_pic img{
			width:50px;
			height:auto;
			-webkit-box-shadow:2px 2px 1px #666;
			box-shadow:2px 2px 1px #666;
			margin-right:2px;
		}
		.content #top{
			position:absolute;
			width:40px;
			height:40px;
			background-color:rgba(197, 225, 245, 0.6);
			-webkit-border-radius:5px;
			border-radius:5px;
			border:2px solid #666;
			font-size:20px;
			color:#FFF;
			text-align:center;
			line-height:40px;
			right:4px;
			top:-150px;
			cursor:pointer;
		}
	/* ===== 牌型範例 end ===== */
	/* ===== 遊戲介面_interface start ===== */
		.content .part1 .in_lobby{
			position:relative;
			width:100%;
			min-width:320px;
			height:0;
			padding-bottom:56.34%;
			background-size:cover;
			background-image:url(../images/in_lobby00.png);
		}
		.content .part1 .in_lobby01{
			position:relative;
			width:100%;
			min-width:320px;
			height:0;
			padding-bottom:56.34%;
			background-size:cover;
			background-image:url(../images/in_lobby01.png);
		}
		.content .part1 .in_lobby .lobby01 a{
			position:absolute;
			width:67%;
			height:13%;
			top:0;
			right:0;
		}
		.content .part1 .in_lobby .lobby02 a{
			position:absolute;
			width: 100%;
			height: 40%;
			top: 33%;
			left: 0;
		}
		.content .part1 .in_lobby .lobby03 a{
			position:absolute;
			width:62%;
			height:20%;
			bottom:0;
			left:0;
		}
		.content .part1 .in_lobby .lobby04 a{
			position:absolute;
			width:37%;
			height:20%;
			bottom:0;
			right:0;
		}
		.content .part1 .in_lobby01 .lobby00 a{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			right:0;
		}
	/* ===== 遊戲介面_interface end ===== */
/**		7poker遊戲介面 end**/

/**		活動BANNER start
	article#onlyMain{ margin-top: 47px;}
	nav#banner li{
		position: relative;
		width: 76%;
		height: 0;
		padding-bottom: 42.75%;
		margin: 15px auto;
		background: #b8c9d9;
		border: 3px solid #3a5977;
		border-radius: 15px;
		box-shadow: 0 0 9px 3px #e1e7eb inset,
					0 50px 0 rgba(255,255,255,0.15) inset,
					0 0 10px rgba(0,0,0,0.5);
		box-sizing: border-box;
		text-align: center;
		font-size: 14px;
		color: #454545;
	}
	nav#banner li:before{
		content: "";
		display: block;
		width: 420px;
		height: 60px;
		background: url(../images/signup_light.png);
		position: absolute;
		top: -32px;
		left: 50%;
		margin-left: -210px;
		pointer-events: none;
	}
	nav#banner li a{
		display: block;
		width: 88%;
		height: 0;
		padding-bottom: 49.28%;
		margin: 10px auto 5px;
		box-shadow: 0 40px 0 rgba(255,255,255,0.15) inset;
	}
	/**	要增加的banner，改class、改圖片檔名，加background-size **/
	/**nav#banner li a.exchange{
		background: url(../images/banner-1.jpg);
		background-size: cover;
	}
		活動BANNER end**/

/**		活動BANNER start**/
	nav#banner li{
		position: relative;
		width: 91.61%;
		height: 0;
		padding-bottom: 42.75%;
		margin: 15px auto;
		background: #b8c9d9;
		border: 3px solid #3a5977;
		border-radius: 15px;
		box-shadow: 0 0 9px 3px #e1e7eb inset,
					0 0 10px rgba(0,0,0,0.5);
		box-sizing: border-box;
		text-align: center;
		font-size: 14px;
		color: #454545;
	}
	nav#banner li:before{
		content: "";
		display: block;
		width: 420px;
		height: 60px;
		background: url(../images/signup_light.png);
		position: absolute;
		top: -32px;
		left: 50%;
		margin-left: -210px;
		pointer-events: none;
		z-index: 99;
	}
	nav#banner li:after{
		content: "";
		display: block;
		width: 100%;
		height: 35px;
		background: rgba(255,255,255,0.15);
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: 99;
		border-radius: 12px 12px 0 0;
	}
	nav#banner li a{
		display: block;
		width: 88%;
		height: 0;
		padding-bottom: 41.067%;
		margin: 10px auto 5px;
	}
	nav#banner li a>img{
		display: block;
		width: 100%;
		height: auto;
	}
	nav#banner li p{
		text-align: center;
		font-size: 14px;
		color: #454545;
	}
/**		活動BANNER end**/

/**		活動_虛寶兌換 start**/
	section.activeContent{
		width: 450px;
		height: 260px;
		border: 2px solid #00377d;
		background-color: rgba(0,20,50,0.8);
		border-radius: 10px;
		position: relative;
		margin: 0 auto 10px;

	}
	.activeClose{
		color: #cdd9e1;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		font: 21px/30px SOSA;
		text-align: center;
		border: 2px solid #cdd9e1;
		position: absolute;
		top: 9px;
		right: 9px;
	}
	h2.activeTitle{
		color: #fff;
		text-align: center;
		font-size: 28px;
		text-shadow: 0 0 1px #fff;
	}
	h2.activeTitle:after{
		content:"";
		display: block;
		width: 100%;
		height: 2px;
		margin: 15px 0;
		background: -moz-linear-gradient(left,  rgba(52,103,166,0) 10%, rgba(52,103,166,1) 50%, rgba(52,103,166,0) 90%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(52,103,166,0)), color-stop(50%,rgba(52,103,166,1)), color-stop(90%,rgba(52,103,166,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(52,103,166,0) 10%,rgba(52,103,166,1) 50%,rgba(52,103,166,0) 90%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(52,103,166,0) 10%,rgba(52,103,166,1) 50%,rgba(52,103,166,0) 90%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(52,103,166,0) 10%,rgba(52,103,166,1) 50%,rgba(52,103,166,0) 90%); /* IE10+ */
		background: linear-gradient(to right,  rgba(52,103,166,0) 10%,rgba(52,103,166,1) 50%,rgba(52,103,166,0) 90%); /* W3C */
	}
	label.number{
		display: block;
		color: #cdd9e1;
		font-size: 18px;
		border-left: 3px solid #cdd9e1;
		padding: 6px 0 6px 8px;
		margin: 0 0 15px 10%;
	}
	input.exchange{
		width: 80%;
		height: 38px;
		color: #333;
		font-size: 16px;
		letter-spacing: 1px;
		background: #e5e5e5;
		border: 1px solid #142137;
		border-radius: 5px;
		margin: 0 0 0 10%;
		padding: 11px 10px;
		box-shadow: 0 0 10px #142137, 0 0 2px #444 inset, 0 0 4px #777 inset, 0 0 6px #aaa inset, 0 0 8px #ddd inset;
		box-sizing: border-box;
	}
	input.exchange:focus{
		background: #fff;
		box-shadow: 0 0 10px #142137, 0 0 3px #666 inset, 0 0 6px #999 inset, 0 0 9px #ccc inset;
	}
	section.activeContent h6{
		color: #ffdf01;
		font-size: 16px;
		letter-spacing: 1px;
		margin: 15px 0 8px 10%;
		text-shadow: 0 0 8px #000;
	}
	div.btnBg{
		width: 420px;
		height: 79px;
		background: url(../images/Btn_bg.png);
		background-size: 420px 90px;
		padding-top: 11px;
		margin: 0 auto;
	}
/**		活動_虛寶兌換 end**/

