//	BS跪求好評五星級
	.bsGoodStar,.bsGoodStarBg{height:100%;}
	.bsGoodStarBg{
		background-color:#030b13;
		> footer{
			font-size:16px;
			text-align:center;
			text-shadow:0 0 5px #000, 0 0 25px #000;;
			line-height:46px;
			width:100%;
			height:46px;
			background:rgba(0,0,0,0.5);
			position:relative;
			margin-top:-46px;
			> a{color:#fff;}
		}
	}
	#goodStarWrap{
		max-width:1000px;
		height: 100%;
		overflow:hidden;
		padding:(610/1280)*100% 0 1px 0;
		margin:0 auto;
		position:relative;
	}
	#goodStarH{
		@include 背景圖等比例伸縮滿版設定(1280px,610px,"bsGoodStar/goodStarPhoneBanner.jpg");
		position:absolute;
		top: 0;
		left: 0;
		> #bsLogo{
			width:100px;
			height:14px;
			background-size:100px 14px;
			display:block;
			background-image:image-url("bsGoodStar/bsLogo.png");
			position:absolute;
			top:6px;
			left:0;
		}
		> h1, > h2{
			@extend %文字推出畫面;
			margin:0;
		}
		> #phoneLink{
			width:20.1525%;
			height:0;
			display:block;
			padding-bottom:8.4375%;
			background-image:image-url("bsGoodStar/goodStarPhoneBtn.png",false,false);
			background-size:cover;
			position:absolute;
			bottom:11%;
			left:54.5%;
		}
	} 
	#goodStarMain{
		@include 背景圖縮寫設定("bsGoodStar/goodStarPhoneBg.jpg",no-repeat,center,top);
		height: 100%;
		background-size:cover;
		> div{
			line-height:1.8;
			padding:0 15px;
		}
		h3{
			color:#fff45c;
			font-size:21px;
			font-weight:normal;
			margin:0;
			@include transform(skew(-5deg));
		}
		p{
			color:#fff;
			font-size:18px;
			text-shadow:0 0 1px rgba(0,0,0,0.35);
			padding-bottom:10px;
			margin:0;
		}
	}
	.bsGoodStarBg.small{
		> #goodStarWrap{height:auto;}
		#goodStarMain{
			height:auto;
			> div{
				line-height:1.6;
				padding-bottom:66px;
			}
		}
	}
	.bsGoodStarBg.big{
		> #goodStarWrap{height:100%;}
	}
@include breakpoint(max-width 320px) {
	#goodStarMain{
		> div{line-height:1.6;}
	}
}
@include breakpoint(480px) {
	#goodStarH{
		> #bsLogo{
			width:140px;
			height:20px;
			background-size:140px 20px;
			top:12px;
		}
	}
}
@include breakpoint(768px) {
	#goodStarWrap{
		height:auto;
		padding-top:(540/1000)*100%;
	}
	#goodStarH{
		@include 背景圖等比例伸縮變版設定(1000px,540px,"bsGoodStar/goodStarBanner.jpg");
		> #phoneLink{display:none;}
		> #bsLogo{
			top:15px;
			width:250px;
			height:36px;
			background-size:250px 36px;
		}
	}
	#goodStarMain{
		letter-spacing:1px;
		background-image:image-url("bsGoodStar/goodStarArticleBg.jpg");
		padding-bottom:46px;
		> div{padding-bottom:25px;}
		h3{font-size:24px;}
		> nav{
			> ul{ 
				font-size:0;
				text-align:center;
			}
			li{ display:inline-block;}
			li:first-of-type{width:100%;}
		}
		.bs7poker, .appLink{
			width:179px;
			background-image:image-url("bsGoodStar/goodStarBtn.png",false,false);
		}
		.bs7poker{
			height:87px;
			margin:0 auto;
			background-position:-734px 0;
		}
		.appLink{
			height:214px;
			margin:10px 25px 25px;
		}
		.appStore7poker{background-position:0 0;}
		.appStore7poker:hover{background-position:-185px 0;}
		.googlePlay7poker{background-position:-370px 0;}
		.googlePlay7poker:hover{background-position:-555px 0;}
	}
}
@include breakpoint(1024px) {
	.bsGoodStarBg{@include 背景圖縮寫設定("bsGoodStar/goodStarBg.jpg",no-repeat,center,top);}
	#goodStarWrap{padding-top:540px;}
	#goodStarH{
		height:540px;
		padding-bottom:0;
	}
	#goodStarMain{
		> div{
			padding-bottom:50px;
			margin:0 50px;
		}
		p + h3{margin-top:25px;}
	}
}
@include breakpoint(1200px) {
	#goodStarMain{
		> nav{
			position:fixed;
			top:50%;
			right:3%;
			@include transform(translateY(-50%));
			li{display:block;}
			.appLink{margin:0 0 25px;}
			.appStore7poke{margin-bottom:0;}
		}
	}
}