%arowBeforeAfter{
	content:"";
    width: 0;
    height: 0;
    display: inline-block;
}
%arow{
	width:22px;
    height:32px;
    border-color:rgba(0,0,0,0.7);
    border-style:solid;
    border-width:18px 12px;
    cursor:pointer;
    box-sizing:content-box;
    position:absolute;
    top:50%;
    @include transform(translateY(-50%));
}
@include keyframes(bannerBoxFlash) {
	0%{
		border-width:80px 200px 80px 200px;
		border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
	}
	3%{
		border-width:80px 200px 80px 200px;
		border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
	}
	6%{
		border-width:228px 500px 228px 500px;
		border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
	}
	9%{
		border-width:228px 500px 228px 500px;
		border-color:rgba(255,255,255,0.3);
	}
	12%{
		border-width:228px 500px 228px 500px;
		border-color:rgba(255,255,255,0);
	}
	15%{
		border-width:80px 200px 80px 200px;
		border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
	}
	100%{
		border-width:80px 200px 80px 200px;
		border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
	}
}
.florex{
	background-color:#005097;
	background-image:url(../images/florexHead.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center top;
	&:before{
		content:"";
		width: 100%;
		height: 100%;
		background:url(../images/bg-pattern.png) repeat left top;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	} 
}
#wrap{
	width:95%;
	max-width: 1200px;
	margin:108px auto 0;
	h1{
		color:#fff;
		font-size: 36px;
		font-weight: bold;
		text-shadow:0px 1px 0px #005097, -1px 1px 1px rgba(0,80,151,.3), 0px 2px 8px rgba(0,80,151,.6);
		padding-bottom: 1px;
	}
}
main{
	overflow:hidden;
	background-image:url(../images/grey_@2X.png);
	border-radius:5px;
	box-shadow:0px 0px 1px #005097, 0px 4px 16px rgba(0,80,151,.75);
	padding:50px 0 30px;
	position:relative;
}
#bannerBox{
	width: 1000px;
	height: 455px;
	border-radius: 5px;
	box-shadow: 0 0px 1px rgba(0,0,0,.8), 0 2px 10px rgba(0,0,0,.4);
	overflow: hidden;
	margin:0 auto 30px;
	position: relative;
	&:before{
		content:"";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		border-style: solid;
		border-width: 80px 200px 80px 200px;
		border-color: rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		animation:bannerBoxFlash 9s 1s infinite forwards;
	}
	#bannerArowPrev{
		border-left-width:8px;
    	border-radius: 0 5px 5px 0;
    	left: 0;
		@extend %arow;
		&:before{
			border-width: 16px 11px 16px 0;
			border-style: solid; 
			border-color: rgba(0,0,0,0.7) transparent rgba(0,0,0,0.7) rgba(0,0,0,0.7);
			@extend %arowBeforeAfter;
		}
		&:after{
			border-width: 16px 11px 16px 0;
			border-style: solid;
			border-color: transparent rgba(0,0,0,0.7) transparent rgba(0,0,0,0.7);
			@extend %arowBeforeAfter;
		}
	}
	#bannerArowNext{
		border-right-width:8px;
    	border-radius: 5px 0 0 5px;
    	right: 0;
    	@extend %arow;
    	&:before{
    		border-width: 16px 0 16px 11px;
			border-style: solid;
			border-color: transparent rgba(0,0,0,0.7) transparent rgba(0,0,0,0.7);
    		@extend %arowBeforeAfter;
		}
		&:after{
			border-width: 16px 0 16px 11px;
			border-style: solid;
			border-color: rgba(0,0,0,0.7) rgba(0,0,0,0.7) rgba(0,0,0,0.7) transparent;
			@extend %arowBeforeAfter;
		}
	}
	ul#bannerMenu{
		font-size: 0;
		position: absolute;
		right:0px;
		bottom:12px;
		li{
			    width: 36px;
				height: 36px;
				display: inline-block;
				border: 2px solid rgba(255,255,255,0.8);
				border-radius: 50%;
				box-shadow:0 1px 1px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.3), 0 0 15px rgba(0,0,0,0.3) inset;
				cursor: pointer;
				margin: 0 12px;
				position: relative;
			&:after{
				    content:"";
					width: 26px;
					height: 26px;
					background: rgba(255,255,255,0.8);
					border-radius: 50%;
					position: absolute;
					left: 50%;
					top: 50%;
					@include transition(transform .6s);
					@include transform(translate(-50%, -50%) scale(0));
			}
		}
		li.now:after{
			@include transform(translate(-50%, -50%) scale(1));
		}
	}
}
nav{
	width:100%;
	ul{
		font-size:0;
		text-align:center;
		letter-spacing:-0.25em;
		word-spacing:-0.25em;
	}
	li{
		letter-spacing:0;
		word-spacing:0;
		width:280px;
		display:inline-block;
		background-color:#808080;
		border:5px solid #FFF;
		vertical-align:top;
		border-radius:15px;
		box-shadow:0 0 1px rgba(0, 0, 0, 0.35), 0 2px 8px rgba(0, 0, 0, 0.35);
		margin:20px 40px;
		overflow:hidden;
		@include transition(.5s);
		@include transform(translate(0));
		&:hover{
			border-color:#999999;
			background-color:#999999;
			img{
				opacity:0.7;
				@include transform(scale(1.1) translateY(-9px));
			}
		}
		a{
			color:#fff;
			font-size:18px;
			line-height:21px;
			text-align:center;
			text-decoration:none;
			text-shadow:0 1px 0 rgba(0,0,0,0.3), 0 0 8px rgba(0,0,0,0.6);
			width:100%;
			height:100%;
			display:block;
			padding-bottom:4px;
		}
		img{@include transition(1s);}
	}
}
footer{
	color:#FFF;
	font-size: 14px;
	line-height: 2.4;
	text-align:center;
	letter-spacing:1px;
	text-shadow:0 1px 0 #00294d, 0 0 6px rgba(0, 41, 77, 0.6);
	margin:15px 0;
	a{	
		color:#FFF;
		text-decoration:none; 
		margin:0 16px;
		@include transition(1s);
		&:hover{
			color:#fff100;
		}
	}
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
	nav{
		li:nth-child(3n+1){margin-left: 0;}
		li:nth-child(3n){margin-right: 0;}
	}
}
@media screen and (max-width: 1125px){
	#wrap{margin:4% auto 0;}
	body{background-size:contain;}
	main{padding:2.5%;}
	#bannerBox{
		width: 100%;
		max-width: 1000px;
		height: 0;
		padding-bottom:45.5%;
		margin-bottom:2.5%;
		img{
			width: 100%;
			height: auto;
		}
	}
	nav{
		li{margin:16px;}
	}
}
@media screen and (min-width: 668px) and (max-width: 1023px){
	body{
		&:before{
			height:223%;
		} 	 	
	}
	#bannerBox{
		#bannerArowPrev, #bannerArowNext{
			border-width:12px;
		}
	}
	nav{
		li{
			margin:20px 25px;
		}
	}
	footer{
		a{color:#fff100;}
	}
}		
/** ===== 手機版型區 ===== **/
@media screen and (max-width: 767px){
	@-webkit-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@-moz-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@-o-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:155px 340px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}	
	#bannerBox{
		&:before{
			border-width:30px 90px;
		}
		#bannerArowPrev, #bannerArowNext{
			border-width:10px;
		}
		ul#bannerMenu{
			li{
				    width: 28px;
					height: 28px;
				&:after{
						width: 18px;
						height: 18px;
				}
			}
		}
	}
	nav{
		li{
			margin:16px 12px;
			@include transition(.2s);
			img{@include transition(.2s);}
		}
	}
	footer{a{margin:8px auto;}}
}
@media screen and (max-width: 667px) {
	@-webkit-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@-moz-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@-o-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:134px 294px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	body{
		&:before{
			height:275%;
		} 	 	
	}
	#wrap{
		h1{
			font-size: 28px;
		}
	}
	#bannerBox{
		#bannerArowPrev{
			border-color:rgba(0,0,0,0.6);
			&:before{
				border-color: rgba(0,0,0,0.6) transparent rgba(0,0,0,0.6) rgba(0,0,0,0.6);
			}
			&:after{
				border-color: transparent rgba(0,0,0,0.6) transparent rgba(0,0,0,0.6);
			}
		}
		#bannerArowNext{
			border-color:rgba(0,0,0,0.6);
	    	&:before{
				border-color: transparent rgba(0,0,0,0.6) transparent rgba(0,0,0,0.6);
			}
			&:after{
				border-color: rgba(0,0,0,0.6) rgba(0,0,0,0.6) rgba(0,0,0,0.6) transparent;
			}
		}
		ul#bannerMenu{
			text-align: center;
			width: 100%;
			bottom: 10px;
			li{
				width: 20px;
				height: 20px;
				margin:0 16px;
				&:after{
					width: 10px;
					height: 10px;
				}
			}
		}
	}
	footer{
		p{line-height: 1.5;}
		a{
			color:#fff100;
			display: block;
		}
	}
	nav{
		li{
			margin:20px auto;
			display: block;
		}
	}
}
@media screen and (max-width: 480px) {
	@-webkit-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@-moz-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@-o-keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	@keyframes bannerBoxFlash{
		0%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		3%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		6%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		9%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0.3);
		}
		12%{
			border-width:95px 210px;
			border-color:rgba(255,255,255,0);
		}
		15%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
		100%{
			border-width:30px 90px;
			border-color:rgba(255,255,255,0.3) transparent transparent rgba(255,255,255,0.3);
		}
	}
	#wrap{
		h1{
			font-size: 21px;
		}
	}
}

