/** ---normalize.css區--- start **/
	html{-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
	body{margin:0;}
	article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
	audio,canvas,progress,video{display:inline-block; vertical-align:baseline;}
	audio:not([controls]){display:none;height:0;}
	[hidden],template{display:none;}
	a{background-color:transparent;}
	a:active,a:hover{outline:0;}
	abbr[title]{border-bottom:1px dotted;}
	b,strong{font-weight:bold;}
	dfn{font-style:italic;}
	h1{font-size:2em;margin:0.67em 0;}
	mark{background:#ff0;color:#000;}
	small{font-size:80%;}
	sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
	sup{top:-0.5em;}
	sub{bottom:-0.25em;}
	img{border:0;}
	svg:not(:root){overflow:hidden;}
	figure{margin:1em 40px;}
	hr{box-sizing:content-box;height:0;}
	pre{overflow:auto;}
	code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}
	button,input,optgroup,select,textarea{color:inherit; font:inherit; margin:0;}
	button{overflow:visible;}
	button,select{text-transform:none;}
	button,html input[type="button"], 
	input[type="reset"],input[type="submit"]{-webkit-appearance:button; cursor:pointer;}
	button[disabled],html input[disabled]{cursor:default;}
	button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
	input{line-height:normal;}
	input[type="checkbox"],input[type="radio"]{box-sizing:border-box; padding:0;}
	input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
	input[type="search"]{-webkit-appearance:textfield; box-sizing:content-box;}
	input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
	fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
	legend{border:0; padding:0;}
	textarea{overflow:auto;}
	optgroup{font-weight:bold;}
	table{border-collapse:collapse;border-spacing:0;}
	td,th{padding:0;}
	ol,ul{padding-left:0;}
	/*body {line-height:1;}*/
/** ---normalize.css區--- end **/

/** ---共用css區--- start **/
	html, body{
		font-size:16px;
		font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
		/**  多國語言版  font-family:"Helvetica Neue",Helvetica,Arial,"微軟正黑體","微软雅黑","メイリオ","맑은 고딕",sans-serif;**/
		min-width: 480px;
		min-height:100%;
		background: #0a0f1b;
		background-size: cover;
		-webkit-text-size-adjust:none; /* 在 iOS 旋轉畫面鎖定文字不縮放 */
		-webkit-overflow-scrolling:touch; /* For iphone回復圈軸 */
	}
	@font-face{
		font-family:SOSA;
		src: url('../font/sosa-regular-webfont.eot') format('eot'), url('../font/sosa-regular-webfont.woff') format('woff'), url('../font/sosa-regular-webfont.ttf') format('truetype');
	}
	@font-face{
		font-family:RAPH;
		src: url(../font/raphaelicons-webfont.ttf);
	}
	a, button, textarea, select, input{ 
		outline: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0); /* 手指點連結的顏色變透明 */
	}
	button{
		-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select: none;/*超連不能選取 */
	}
	a{ 
		-webkit-user-select: none; /* 標題H1或超連不能選取 */
		text-decoration:none;
	}
	#top_menu, nav, article{
		max-width:736px;
		margin:0 auto;
	}
/** ---共用css區--- end **/

/**		表頭選單 start **/
	nav#help{
		width: 100%;
		padding: 15px 15px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
  		box-sizing: border-box;
		border-bottom: 3px solid #263C72;
		background-color: #0a1020;
		background: -webkit-linear-gradient(270deg, #1f2739 0%,#070e1d 100%);
		background: -moz-linear-gradient(270deg, #1f2739 0%, #070e1d 100%);
		background: -ms-linear-gradient(270deg, #1f2739 0%,#070e1d 100%);
		background: -o-linear-gradient(270deg, #1f2739 0%,#070e1d 100%);
		background: linear-gradient(180deg, #1f2739 0%,#070e1d 100%);
		margin-top: 47px;
	}
	ul#tabMenu, ul#playTabMenu{
		font-size: 0;
		text-align: center;
	}
	ul#tabMenu li, ul#playTabMenu li{
		width: 50%;
		display: inline-block;
		font-size: 18px;
	}
	ul#tabMenu li{width: 50%;}
	ul#playTabMenu li{width: 33.33%;}
	ul#tabMenu li a, ul#playTabMenu li a{
		display: block;
		height: 38px;
		line-height: 38px;
		background: -webkit-linear-gradient(270deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		background: -moz-linear-gradient(270deg, rgba (35,57,92,1)0%, rgba(27,42,80,1) 100%);
		background: -ms-linear-gradient(270deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		background: -o-linear-gradient(270deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		background: linear-gradient(180deg, rgba(35,57,92,1) 0%,rgba(27,42,80,1) 100%);
		color: #aaa;
		-webkit-border-radius:6px 6px 0 0;
		-moz-border-radius:6px 6px 0 0;
		border-radius:6px 6px 0 0;
		text-shadow:0 0 1px #aaa,
					0px 2px 1px #0d1526,
					-2px 2px 1px #0d1526,
					2px 2px 1px #0d1526,
					0px -2px 1px #0d1526,
					-2px -2px 1px #0d1526,
					2px -2px 1px #0d1526,
					2px 0px 1px #0d1526,
					-2px 0px 1px #0d1526,
					0px 0px 6px #0d1526;
		-webkit-box-shadow: 0 1px 2px #2b476e inset, 0 2px 0 #5d7ca2 inset;
		-moz-box-shadow: 0 1px 2px #2b476e inset, 0 2px 0 #5d7ca2 inset;
		box-shadow: 0 1px 2px #2b476e inset, 0 2px 0 #5d7ca2 inset;
		margin: 0 5px;
	}
	ul#tabMenu li a.nowTab, ul#playTabMenu li a.nowTab{
		background: -webkit-linear-gradient(270deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		background: -moz-linear-gradient(270deg, rgba (51,83,132,1)0%, rgba(38,60,114,1) 100%);
		background: -ms-linear-gradient(270deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		background: -o-linear-gradient(270deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		background: linear-gradient(180deg, rgba(51,83,132,1) 0%,rgba(38,60,114,1) 100%);
		color: #fff;
		text-shadow: 0 0 1px #fff,
					 0px 2px 1px #26334d,
					 -2px 2px 1px #26334d,
					 2px 2px 1px #26334d,
					 0px -2px 1px #26334d,
					 -2px -2px 1px #26334d,
					 2px -2px 1px #26334d,
					 2px 0px 1px #26334d,
					 -2px 0px 1px #26334d,
					 0px 0px 6px #26334d;
		-webkit-box-shadow: 0 2px 0 #85b2e8 inset, 0 2px 1px #40689f inset;
		-moz-box-shadow: 0 2px 0 #85b2e8 inset, 0 2px 1px #40689f inset;
		box-shadow: 0 2px 0 #85b2e8 inset, 0 2px 1px #40689f inset;
	}
/**		表頭選單 end **/

/**		內容(article-section)共用區 start **/
	article{
		padding:1px 24px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background: #0a0f1b url(../images/darkBlue_bg.jpg) no-repeat center top;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
	}
	section{padding: 15px 0}
	section.horizontal{font-size: 0;}
	section.underline{ border-bottom: 2px solid #33506e;}
/**		內容(article-section)共用區 end **/

/**		我的問題、比牌說明-RwdTable表格 start **/
	table.table, table.cardType{
		border-collapse: separate;
		width:100%;
		background-color:#b8c9d9;
		table-layout: fixed;
		border-spacing:0;
		border:2px solid #3a5a79;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.35), 0 0 10px 5px rgba(0,0,0,0.12) inset;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		overflow: hidden;
	}
	table td[class*=col-], table th[class*=col-]{
		display:table-cell;
		position:static;
		float:none;
	}
	.table>thead>tr>th, .cardType>thead>tr>th{
		border-left: 1px solid #48546d;
		border-right: 1px solid #0c1626;
		color:#a0a6b3;
		font-weight: bold;
		background: -webkit-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: -moz-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: -ms-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: -o-linear-gradient(270deg, #303749 50%,#232a3a 100%);
		background: linear-gradient(180deg, #303749 50%,#232a3a 100%);
	}
	.table>thead>tr>th:first-child, .cardType>thead>tr>th:first-child{ border-left:none;}
	.table>thead>tr>th:last-child, .cardType>thead>tr>th:last-child{ border-right:none;}
	.table>tbody>tr>td, .cardType>tbody>tr>td{
		color: #424751;
		text-shadow: 0 0 1px rgba(66,71,81,0.3);
		border-left: 1px solid #d2dee8;
		border-right: 1px solid #9bb6d0;
		border-top: 1px solid #d2dee8;
		border-bottom: 1px solid #9bb6d0;
	}
	.table>tbody>tr>td:first-child, .cardType>tbody>tr>td:first-child{ border-left: none;}
	.table>tbody>tr>td:last-child, .cardType>tbody>tr>td:last-child{ border-right: none;}
	.table>tbody>tr:first-child>td, .cardType>tbody>tr:first-child{ border-top: none;}
	.table>tbody>tr:last-child>td, .cardType>tbody>tr:last-child{ border-bottom: none;}
	.table>tbody>tr>td>a, .table>thead>tr>th, .cardType>tbody>tr>td, .cardType>thead>tr>th{
		font-size: 16px;
		line-height:1.7;
		text-align:center;
		padding:8px;
	}
	.table>tbody>tr:nth-child(even), .cardType>tbody>tr:nth-child(even){background-color:rgba(255,255,255,0.25);}
	.table>tbody>tr:focus, .table>tbody>tr:active{ background-color: #3a5a79;}
	.table>tbody>tr:focus>td>a, .table>tbody>tr:active>td>a{ color: #eee;}
	.table>tbody>tr>td>a>span, .cardType>tbody>tr>td>a>span{ font-weight: bold;}
	.table>tbody>tr>td>a>span.time{ padding-left: 10px;}
	.table>tbody>tr>td>a>span.completed{color:#1e9f05;}
	.table>tbody>tr>td>a>span.Pending{color:#f1282b;}
	.table>tbody>tr>td>a{
		display: block;
		width: 100%;
		height: 100%;
		color: #424751;
		text-shadow: 0 0 1px rgba(66,71,81,0.3);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.col-xs-12{width:100%}
	.col-xs-11{width:91.66666667%}
	.col-xs-10{width:83.33333333%}
	.col-xs-9{width:75%}
	.col-xs-8{width:66.66666667%}
	.col-xs-7{width:58.33333333%}
	.col-xs-6{width:50%}
	.col-xs-5{width:41.66666667%}
	.col-xs-4{width:33.33333333%}
	.col-xs-3{width:25%}
	.col-xs-2{width:16.66666667%}
	.col-xs-1{width:8.33333333%}
	section.footerMenu{
		position: relative;
		text-align: center;
		padding-top: 0;
	}
	section.footerMenu>p{
		color: #fff;
		font-size: 16px;
		letter-spacing: 1px;
		position: absolute;
		top: 26px;
		margin:0;
		line-height:1;
	}
	.PNBtnSize, .SCBtnSize{
		display: inline-block;
		width: 105px;
		height: 44px;
		font: 20px/44px "微軟正黑體", sans-serif;
		letter-spacing: 1px;
		margin: 12px;
	}
/********* 比牌說明 start *********/
	.col-xs-one{width:15%}
	.col-xs-two{width:24%}
	.col-xs-three{width:41%}
	.col-xs-four{width:20%}
	[class*="poker-"]{
	  display:inline-block;
	  box-shadow: 1px 1px 2px #333;
	  height: 50px;
	  width: 38px;
	}
	.pokerType{
	  width:100%;
	  height:53px;
	  text-align:center;
	}
	.poker-sprite, .poker-box10, .poker-box2, .poker-box3, .poker-box4, .poker-box5, .poker-box6, .poker-box7, .poker-box8, .poker-box9, .poker-boxA, .poker-boxJ, .poker-boxK, .poker-boxQ, .poker-flower10, .poker-flower2, .poker-flower3, .poker-flower4, .poker-flower5, .poker-flower6, .poker-flower7, .poker-flower8, .poker-flower9, .poker-flowerA, .poker-flowerJ, .poker-flowerK, .poker-flowerQ, .poker-heart10, .poker-heart2, .poker-heart3, .poker-heart4, .poker-heart5, .poker-heart6, .poker-heart7, .poker-heart8, .poker-heart9, .poker-heartA, .poker-heartJ, .poker-heartK, .poker-heartQ, .poker-peach10, .poker-peach2, .poker-peach3, .poker-peach4, .poker-peach5, .poker-peach6, .poker-peach7, .poker-peach8, .poker-peach9, .poker-peachA, .poker-peachJ, .poker-peachK, .poker-peachQ, .poker-poker {
		background-image:url('../images/pokerCard.png');
		background-repeat:no-repeat;
		background-size:2014px 50px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}
	.cardType>tbody>tr>td>span.odds{
		color:#304d80;
		font-weight: bold;
	}
	.cardType>tbody>tr>td>span.name{font-size:18px;}
	.poker-box10{background-position:0 0;}
	.poker-box2{background-position:-38px 0;}
	.poker-box3{background-position:-76px 0;}
	.poker-box4{background-position:-114px 0;}
	.poker-box5{background-position:-152px 0;}
	.poker-box6{background-position:-190px 0;}
	.poker-box7{background-position:-228px 0;}
	.poker-box8{background-position:-266px 0;}
	.poker-box9{background-position:-304px 0;}
	.poker-boxA{background-position:-342px 0;}
	.poker-boxJ{background-position:-380px 0;}
	.poker-boxK{background-position:-418px 0;}
	.poker-boxQ{background-position:-456px 0;}
	.poker-flower10{background-position:-494px 0;}
	.poker-flower2{background-position:-532px 0;}
	.poker-flower3{background-position:-570px 0;}
	.poker-flower4{background-position:-608px 0;}
	.poker-flower5{background-position:-646px 0;}
	.poker-flower6{background-position:-684px 0;}
	.poker-flower7{background-position:-722px 0;}
	.poker-flower8{background-position:-760px 0;}
	.poker-flower9{background-position:-798px 0;}
	.poker-flowerA{background-position:-836px 0;}
	.poker-flowerJ{background-position:-874px 0;}
	.poker-flowerK{background-position:-912px 0;}
	.poker-flowerQ{background-position:-950px 0;}
	.poker-heart10{background-position:-988px 0;}
	.poker-heart2{background-position:-1026px 0;}
	.poker-heart3{background-position:-1064px 0;}
	.poker-heart4{background-position:-1102px 0;}
	.poker-heart5{background-position:-1140px 0;}
	.poker-heart6{background-position:-1178px 0;}
	.poker-heart7{background-position:-1216px 0;}
	.poker-heart8{background-position:-1254px 0;}
	.poker-heart9{background-position:-1292px 0;}
	.poker-heartA{background-position:-1330px 0;}
	.poker-heartJ{background-position:-1368px 0;}
	.poker-heartK{background-position:-1406px 0;}
	.poker-heartQ{background-position:-1444px 0;}
	.poker-peach10{background-position:-1482px 0;}
	.poker-peach2{background-position:-1520px 0;}
	.poker-peach3{background-position:-1558px 0;}
	.poker-peach4{background-position:-1596px 0;}
	.poker-peach5{background-position:-1634px 0;}
	.poker-peach6{background-position:-1672px 0;}
	.poker-peach7{background-position:-1710px 0;}
	.poker-peach8{background-position:-1748px 0;}
	.poker-peach9{background-position:-1786px 0;}
	.poker-peachA{background-position:-1824px 0;}
	.poker-peachJ{background-position:-1862px 0;}
	.poker-peachK{background-position:-1900px 0;}
	.poker-peachQ{background-position:-1938px 0;}
	.poker-poker{background-position:-1976px 0;}
/**		我的問題、比牌說明-RwdTable表格 end **/

/**		遊戲特色 start **/
	#movie{
		width:85%;/*90%95%*/
		height:0;
		position:relative;
		padding-bottom:47.8125%;/*50.625%53.4375%*/
		margin:0 auto 20px;
		-moz-box-shadow: 0 1px 18px rgba(0,0,0,.75);
		-webkit-box-shadow: 0 1px 18px rgba(0,0,0,.75);
		box-shadow: 0 1px 18px rgba(0,0,0,.75);
	}
	#movie iframe{
		width:100%;
		height:100%;
		position:absolute;
	}
	h2.features{
		color:#cdd9e1;
		text-align:center;
		font-size:32px;
		font-weight:normal;
		text-shadow: 2px 2px 2px #000,2px 2px 3px #000;
    	letter-spacing: 1px;
    	margin:0 0 12px 0;
	}
/**		遊戲特色 end **/

/**		服務契約 start **/
	section.copy{
		color: #454545;
		background:#cfdce5;
		border:3px solid #3a5977;
		-moz-border-radius:12px;
		-webkit-border-radius:12px;
		border-radius: 12px;
		-webkit-box-shadow:0 0 9px 3px #ebf0f2 inset,0 0 18px rgba(0,0,0,0.5);
		-moz-box-shadow:0 0 9px 3px #ebf0f2 inset,0 0 18px rgba(0,0,0,0.5);
		box-shadow:0 0 9px 3px #ebf0f2 inset,0 0 18px rgba(0,0,0,0.5);
		margin:15px auto;
	}
	section.copy h2{
		font:24px/50px "微軟正黑體";
		letter-spacing:1px;
		font-weight:bold;
		text-align:center;
		text-shadow:0 1px 1px #fff,0 1px 1px #fff;
		width:280px;
		height:50px;
		background:#9bb6d0;
		-moz-border-radius:12px;
		-webkit-border-radius:12px;
		border-radius:12px;
		-moz-box-shadow: 0 2px 0 2px #7d9ab3, 0 2px #c3d4e5 inset;
		-webkit-box-shadow: 0 2px 0 2px #7d9ab3, 0 2px #c3d4e5 inset;
		box-shadow: 0 2px 0 2px #7d9ab3, 0 2px #c3d4e5 inset;
		padding:0 16px;
		margin:18px auto;
	}
	.copy_sys {
		width: 100%;
		height: auto;
		padding:5px 15px;
		font-size: 16px;
		line-height: 1.8;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.copy_sys strong:before{
		content: ":";
		font-size: 24px;
		font-family: RAPH;
		float: left;
		padding-right:6px;
		font-weight: normal;
		line-height: 38px;
	}
	.copy_sys strong{
		font-size: 18px;
		color: #1f4cac;
		line-height: 38px;
	}
	.copy_sys em{
		font-size: 16px;
	}
	.copy_sys em, .copy_sys strong{
		display: block;
		font-weight: bold;
		padding: 8px 0 5px 0;
		font-style: normal;
	}
	.copy_sys p{
		padding:5px 0;
		margin:0;
	}
	.copy_sys ul, .copy_sys ol{margin: 0px 10px 0px 32px;}
	.copy_sys ul li{list-style-type: disc;}
	.copy_sys ol li{list-style-type: decimal-leading-zero;}
	.copy_sys li{padding: 5px 0;}
	.copy_sys li ol {margin: 0px 10px 0px 26px;}
	.copy_sys li ol li{list-style-type:decimal;}
/**		服務契約 end **/

/**		公告/更新 start **/
	.newsBoxs{list-style: none;}
	.newsBoxs>li{
		background-color:#b8c9d9;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius:6px;
		-moz-box-shadow:0 2px 0 4px #314b66, 0 0 6px 5px #d8e0e5 inset;/*, 0 2px 12px 4px rgba(0,0,0,.35)*/
		-webkit-box-shadow:0 2px 0 4px #314b66, 0 0 6px 5px #d8e0e5 inset;/*, 0 2px 12px 4px rgba(0,0,0,.35)*/
		box-shadow:0 2px 0 4px #314b66, 0 0 6px 5px #d8e0e5 inset, 0 2px 12px 4px rgba(0,0,0,.35);/*, 0 2px 12px 4px rgba(0,0,0,.35)*/
		overflow:hidden;
		margin:20px auto;
		cursor:pointer;
	}
	.newsBoxs h3{
		color:#424751;
		font-size:20px;
		font-weight: normal;
		line-height:30px;
		position:relative;
		width:100%;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		text-shadow:0 0 1px rgba(66,71,81,.25);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing:border-box;
		padding:10px 36px 10px 140px;
		margin:0;
	}
	.newsBoxs span.date{
		color:#1d3f61;
		font-weight:bold;
		position:absolute;
		top:10px;
		left:10px;
	}
	.newsBoxs span.more{
		width:30px;
		height:30px;
		display:inline-block;
		position:absolute;
		top:10px;
		right:10px;
	}
	.more .icon-before, .more .icon-after{
		background-color:#1d3f61;
		width:22px;
		height:4px;
		position:absolute;
		top:50%;
		left:50%;
		margin:-2px 0 0 -11px;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		-o-transition:all .3s;
		transition:all .3s;
	}
	.more .icon-before{
		-moz-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		transform:rotate(-90deg);
	}
	.more div.icon-before.click{
		-moz-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	.contentBox{
		color:#222;
		border-top:3px dashed #314b66;
		padding:0 12px;
		display:none;
	}
	.newsBoxs li:first-child .contentBox{display:block;}
	.contentBox>p{margin:12px 0;}
	.contentBox>img{margin:8px 0;}
/**		公告/更新 end **/

/**		goTop start **/
	p#goTop {
		width: 42px;
    	height: 56px;
		color:rgba(0,0,0,.6);
		font-size:56px;
	    font-family:RAPH;
	    line-height:1;
	    padding:0;
	    margin:0 -21px 0 0;
	    position:fixed;
	    right:50%;
	    bottom:16px;
	    -moz-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
	    transform:rotate(90deg);
	    cursor:pointer;
	    display:none;
	}
/**		goTop end **/

/**		比牌說明-RwdTable小表格 start **/
	@media (max-width:590px){
		table.bt thead{display:none;}
		table.bt tbody td{
		  border:none;
		  display:block;
		  text-align:left;
		}
		table.bt tbody td:before{
		  content:attr(data-th)" :";
		  width:20%;
		  display:inline-block;
		}
		table.bt tbody tr:nth-of-type(n+1) td:first-of-type{
			text-shadow:0 0 1px rgba(160,166,179,.35);
			background:-webkit-linear-gradient(270deg, #303749 50%,#232a3a 100%);
			background:-moz-linear-gradient(270deg, #303749 50%,#232a3a 100%);
			background:-ms-linear-gradient(270deg, #303749 50%,#232a3a 100%);
			background:-o-linear-gradient(270deg, #303749 50%,#232a3a 100%);
			background:linear-gradient(180deg, #303749 50%,#232a3a 100%);
			color:#a0a6b3;
	    }
	    table.bt tbody tr td:nth-of-type(odd){background-color:rgba(255,255,255,0.25);}
	    .poker-sprite, .poker-box10, .poker-box2, .poker-box3, .poker-box4, .poker-box5, .poker-box6, .poker-box7, .poker-box8, .poker-box9, .poker-boxA, .poker-boxJ, .poker-boxK, .poker-boxQ, .poker-flower10, .poker-flower2, .poker-flower3, .poker-flower4, .poker-flower5, .poker-flower6, .poker-flower7, .poker-flower8, .poker-flower9, .poker-flowerA, .poker-flowerJ, .poker-flowerK, .poker-flowerQ, .poker-heart10, .poker-heart2, .poker-heart3, .poker-heart4, .poker-heart5, .poker-heart6, .poker-heart7, .poker-heart8, .poker-heart9, .poker-heartA, .poker-heartJ, .poker-heartK, .poker-heartQ, .poker-peach10, .poker-peach2, .poker-peach3, .poker-peach4, .poker-peach5, .poker-peach6, .poker-peach7, .poker-peach8, .poker-peach9, .poker-peachA, .poker-peachJ, .poker-peachK, .poker-peachQ, .poker-poker {
			-moz-background-size:2650px 66px;
			-o-background-size:2650px 66px;
			-webkit-background-size:2650px 66px;
			background-size:2650px 66px;
		}
		[class*="poker-"]{
		  height: 66px;
		  width: 50px;
		}
		.pokerType{
		  width:78%;
		  height:69px;
		  text-align:left;
		  vertical-align:middle;
		  display:inline-block;
		}
		.cardType>tbody>tr>td, .cardType>thead>tr>th{font-size: 18px;}
		.poker-box10{background-position:0 0;}
		.poker-box2{background-position:-50px 0;}
		.poker-box3{background-position:-100px 0;}
		.poker-box4{background-position:-150px 0;}
		.poker-box5{background-position:-200px 0;}
		.poker-box6{background-position:-250px 0;}
		.poker-box7{background-position:-300px 0;}
		.poker-box8{background-position:-350px 0;}
		.poker-box9{background-position:-400px 0;}
		.poker-boxA{background-position:-450px 0;}
		.poker-boxJ{background-position:-500px 0;}
		.poker-boxK{background-position:-550px 0;}
		.poker-boxQ{background-position:-600px 0;}
		.poker-flower10{background-position:-650px 0;}
		.poker-flower2{background-position:-700px 0;}
		.poker-flower3{background-position:-750px 0;}
		.poker-flower4{background-position:-800px 0;}
		.poker-flower5{background-position:-850px 0;}
		.poker-flower6{background-position:-900px 0;}
		.poker-flower7{background-position:-950px 0;}
		.poker-flower8{background-position:-1000px 0;}
		.poker-flower9{background-position:-1050px 0;}
		.poker-flowerA{background-position:-1100px 0;}
		.poker-flowerJ{background-position:-1150px 0;}
		.poker-flowerK{background-position:-1200px 0;}
		.poker-flowerQ{background-position:-1250px 0;}
		.poker-heart10{background-position:-1300px 0;}
		.poker-heart2{background-position:-1350px 0;}
		.poker-heart3{background-position:-1400px 0;}
		.poker-heart4{background-position:-1450px 0;}
		.poker-heart5{background-position:-1500px 0;}
		.poker-heart6{background-position:-1550px 0;}
		.poker-heart7{background-position:-1600px 0;}
		.poker-heart8{background-position:-1650px 0;}
		.poker-heart9{background-position:-1700px 0;}
		.poker-heartA{background-position:-1750px 0;}
		.poker-heartJ{background-position:-1800px 0;}
		.poker-heartK{background-position:-1850px 0;}
		.poker-heartQ{background-position:-1900px 0;}
		.poker-peach10{background-position:-1950px 0;}
		.poker-peach2{background-position:-2000px 0;}
		.poker-peach3{background-position:-2050px 0;}
		.poker-peach4{background-position:-2100px 0;}
		.poker-peach5{background-position:-2150px 0;}
		.poker-peach6{background-position:-2200px 0;}
		.poker-peach7{background-position:-2250px 0;}
		.poker-peach8{background-position:-2300px 0;}
		.poker-peach9{background-position:-2350px 0;}
		.poker-peachA{background-position:-2400px 0;}
		.poker-peachJ{background-position:-2450px 0;}
		.poker-peachK{background-position:-2500px 0;}
		.poker-peachQ{background-position:-2550px 0;}
		.poker-poker{background-position:-2600px 0;}
	}
/**		比牌說明-RwdTable小表格 end **/
